<td valign="top" class="bgcolor2"><!-- action CVL -->
  <table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody><tr>
        <td class="middle_top"><table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody><tr>
                <td colspan="2">
                  <span class="bodytext_1">
                    <a class="bodylink" href="<%= admin_path %>">Home</a>
                    &gt; <a class="bodylink" href="<%= admin_all_clients_path %>">Clients</a> 
                    &gt;  <a class="bodylink" href="index.php?cid=9&amp;action=CMT&amp;userid=3">Client Details</a> 
                    &gt; VMs </span></td>
              </tr>
              <tr>
                <td width="47"><img align="bottom" width="30" height="32" border="0" title="View VM" src="/images/icon_view_vm_big.png"></td>
                <td width="1262" valign="top" style="padding-top:2px"><span class="txt_big_red">  VM </span></td>
              </tr>
            </tbody></table></td>

      </tr>
      <tr>
        <td style="padding:10px;">

          <table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody><tr>
                <td class="btm_border"><table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody><tr>
                        <td><table width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody><tr>
                                <td width="7%"><span class="bodytext">Actions</span></td>
                                <td width="93%" class="line_bg">&nbsp;</td>
                              </tr>
                            </tbody></table></td>
                      </tr>
                      <tr>
                        <td><table width="230" cellspacing="0" cellpadding="0" border="0">
                            <tbody><tr>
                                <td align="center"><table width="100%" cellspacing="1" cellpadding="1" border="0">
                                    <tbody><tr>
                                        <td align="center" height="41"><a href="index.php?cid=7&amp;action=VMC"><img align="absmiddle" width="30" height="32" border="0" title="New Client" src="/images/icon_add_vm_big.png"></a><a href="#"> </a></td>
                                      </tr>
                                      <tr>
                                        <td align="center" valign="top" height="20"><a class="sm_heading" href="index.php?cid=7&amp;action=VMC">Create VM</a></td>
                                      </tr>
                                    </tbody></table></td>                            
                                <td align="center"><table width="94%" cellspacing="1" cellpadding="1" border="0">
                                    <tbody><tr>
                                        <td align="center" height="41"> <a href="index.php?cid=9&amp;action=CVL&amp;userid=3"><img align="absmiddle" width="27" height="24" border="0" title="Refresh" src="/images/icon_refresh.gif"></a></td>
                                      </tr>
                                      <tr>
                                        <td align="center" valign="top" height="20"><a class="sm_heading" href="index.php?cid=9&amp;action=CVL&amp;userid=3">Refresh</a></td>
                                      </tr>
                                    </tbody></table></td>
                              </tr>
                            </tbody></table></td>
                      </tr>
                    </tbody></table></td>
              </tr>
              <tr><td class="btm_border"><table align="center" width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody><tr>
                        <td align="left" height="40"><span class="bodytext_1"><b>Switch to</b>
                            <form method="post" action="index.php?cid=9&amp;action=CVL&amp;left=0">
                              <select onchange="this.form.submit()" id="cmbuser" name="cmbuser">

                                <option value=""> - Select - </option><option value="1">Admin </option>

                              </select></form>
                          </span></td>
                      </tr>
                    </tbody></table></td></tr>

              <tr>
                <td>
                  <div align="center" style="width:100%" id="chldpar2">
                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                      <tbody><tr>
                          <td class="tdgap">&nbsp;</td>
                        </tr>
                        <tr>
                          <td class="tdgap"><table align="left" width="100%" cellspacing="0" cellpadding="0" border="0">
                              <tbody><tr class="cate_listing_head">
                                  <td valign="middle">&nbsp; VM Search</td>
                                  <td align="center" width="5%" valign="middle"><img align="bottom" onclick="javascript:ShowHideHR('S33');" src="/images/search_show.png" id="imgS33"></td>
                                </tr>
                                <tr id="trS33">
                                  <td width="95%">
                                    <form id="frmsearch" method="post" action="index.php?cid=9&amp;action=CVL&amp;cmbuser=3&amp;left=0" name="frmsearch">
                                      <table width="55%" cellspacing="1" cellpadding="1" border="0">
                                        <tbody><tr>
                                            <td width="14%" class="bodytext">Search By</td>
                                            <td width="20%">
                                              <label>
                                                <select id="cmbsearch" class="txtdrop" name="cmbsearch">
                                                  <option value="">-Search by-</option>
                                                  <option value="vm_name">VM ID</option><option value="vm_display_name">VM Name</option><option value="CONCAT(user_first_name,' ',user_last_name)">Client Name</option><option value="server_hostname">Server</option><option value="server_type">OS Type</option><option value="vm_status">STATUS</option>
                                                </select>
                                              </label>
                                            </td>
                                            <td width="27%">
                                              <label>
                                                <input type="text" value=" " id="txtsearch" class="txtfield" name="txtsearch">
                                              </label>
                                            </td>
                                            <td width="8%"><a href="#">
                                                <input width="31" type="image" height="33" name="go" id="go" title="Search" src="/images/icon_search.gif"></a></td><td width="9%" class="bodytext">Show</td>
                                            <td width="22%" class="bodytext">
                                              <select onchange="document.frmsearch.submit()" id="limit" class="limit" name="limit">
                                                <option value="5">5</option><option selected="" value="10">10</option><option value="20">20</option><option value="40">40</option><option value="80">80</option><option value="160">160</option><option value="320">320</option>
                                              </select>
                                            </td>
                                          </tr>
                                        </tbody></table></form></td>
                                  <td width="5%" valign="bottom" class="bodytext">&nbsp;</td>
                                </tr>
                              </tbody></table></td>
                        </tr>
                      <form action="index.php?cid=11&amp;action=VMD" method="post" name="frmvm" id="frmvm"></form>

                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td><table align="left" width="100%" cellspacing="1" cellpadding="0" border="0" class="bgcolor3">
                            <tbody><tr>
                                <td align="center" width="2%" class="cate_listing_center"><input type="checkbox" onclick="javascript:selectall(checked, document.frmvm, 'chkdel[]')" id="checkbox" name="checkbox">
                                </td>
                                <td align="left" width="11%" class="cate_listing"><a class="cate_listing" href="index.php?cid=9&amp;action=CVL&amp;orderby=vm_name&amp;cmbuser=3&amp;left=0&amp;sort=ASC&amp;searchfield=&amp;searchval= ">VM ID </a>  </td>
                                <td align="left" width="15%" class="cate_listing"><a class="cate_listing" href="index.php?cid=9&amp;action=CVL&amp;orderby=vm_name&amp;cmbuser=3&amp;left=0&amp;sort=ASC&amp;searchfield=&amp;searchval= ">VM Name</a>  </td>
                                <td align="left" width="11%" class="cate_listing"><a class="cate_listing" href="index.php?cid=9&amp;action=CVL&amp;orderby=type&amp;cmbuser=3&amp;left=0&amp;sort=ASC&amp;searchfield=&amp;searchval= ">Os Type</a>  </td>
                                <td align="left" width="13%" class="cate_listing"><a class="cate_listing" href="index.php?cid=9&amp;action=CVL&amp;orderby=vm_ip_id&amp;cmbuser=3&amp;left=0&amp;sort=ASC&amp;searchfield=&amp;searchval= ">IP</a>  </td>
                                <td align="left" width="13%" class="cate_listing"><a class="cate_listing" href="index.php?cid=9&amp;action=CVL&amp;orderby=server_name&amp;cmbuser=3&amp;left=0&amp;sort=ASC&amp;searchfield=&amp;searchval= ">Server</a>  </td>
                                <td align="left" width="18%" class="cate_listing"><a class="cate_listing_head" href="index.php?cid=9&amp;action=CVL&amp;orderby=vm_status&amp;cmbuser=3&amp;left=0&amp;sort=ASC&amp;searchfield=&amp;searchval= ">Status</a>  </td>
                                <td align="left" width="17%" class="cate_listing">Actions</td>
                              </tr>

                              <tr bgcolor="#FFFFFF" style="display:table-row">
                                <td align="center" height="50" class="no_record" colspan="8">VM are not available for 'deepak sharma'</td>
                              </tr>
                            </tbody></table></td>
                      </tr>
                      <tr>
                        <td class="bodytext"><table width="100%" cellspacing="1" cellpadding="1" border="0">
                            <tbody><tr>
                                <td><table align="left" width="700" cellspacing="0" cellpadding="0" border="0" class="bodytext">
                                    <tbody><tr align="left" valign="bottom">
                                        <td width="24"><img align="absmiddle" width="16" height="20" border="0" title="Edit" src="/images/icon_edit_vm.png">&nbsp;</td>
                                        <td width="33">Edit</td>
                                        <td width="24"><img align="absmiddle" width="18" height="16" border="0" title="Delete" src="/images/icon_delete.gif">&nbsp;</td>
                                        <td width="50">Delete</td>
                                        <td width="22"><img align="absmiddle" width="16" height="20" border="0" title="Reset Password" src="/images/reset_password.png">&nbsp;</td>
                                        <td width="91">Reset Password</td>
                                        <td width="22"><img align="absmiddle" width="18" height="16" border="0" title="Boot" src="/images/icon_boot.png">&nbsp;</td>
                                        <td width="47">Boot</td>
                                        <td width="24"><img align="absmiddle" width="18" height="16" border="0" title="Shut Down" src="/images/icon_shut_down.png">&nbsp;</td>
                                        <td width="73">Shut Down</td>
                                        <td width="22"><img align="absmiddle" width="18" height="16" border="0" title="Reboot" src="/images/icon_reboot.png">&nbsp;</td>
                                        <td width="60">Reboot</td>
                                        <td width="24"><img align="absmiddle" width="18" height="16" border="0" title="Reboot" src="/images/save.png">&nbsp;</td>
                                        <td width="61">Save</td>
                                        <td width="24"><img align="absmiddle" width="18" height="16" border="0" title="Reboot" src="/images/pause.png">&nbsp;</td>
                                        <td width="61">Pause</td>
                                      </tr>
                                    </tbody></table></td>
                                <td align="left" width="50%"></td>
                              </tr>
                            </tbody></table></td>
                      </tr>
                      </tbody></table>
                  </div>
                </td>
              </tr>
            </tbody></table>

        </td>
      </tr>
    </tbody></table></td>
