<td valign="top" class="bgcolor2">
  <table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
      <tr>
        <td class="middle_top">
          <table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
              <tr>
                <td colspan="3">
                  <span class="bodytext_1">                    
                    <a class="bodylink" href="<%= admin_path %>">Home</a>
                    &gt; <a class="bodylink" href="<%= admin_client_manager_path %>">Client Manager</a> 
                    &gt; <a class="bodylink" href="<%= admin_all_clients_path %>">Clients</a> 
                    Anti-Fraud Status 
                  </span>
                </td>
              </tr>
              <tr>
                <td width="3%"><img align="bottom" width="30" height="32" border="0" src="/images/icon_view_client_big.png"></td>
                <td width="92%" valign="top" style="padding-top:2px; padding-left:7px"><span class="txt_big_red">deepak sharma</span></td>
                <td width="5%" valign="top" style="padding-top:2px"><img align="bottom" width="30" height="30" border="0" title="#STATUS#" src="/images/online_big.png"></td>
              </tr>
            </tbody></table></td>

      </tr>
      <tr>
        <td class="tdgap1">
          <%= render :partial=>'gallery' %>
          <div class="hide" style="height: 100%;" id="General Settings">
            <div id="divTmp">
            </div>
            <div id="divGS">

            </div>
          </div>
          <div class="hide" style="height: 100%;" id="Containers">

            <div id="divC">
            </div>
          </div>
          <div class="show" style="height: 100%;" id="Anti-fraud status">

            <div id="divA">
              <table width="60%" cellspacing="1" cellpadding="0" border="0" class="bgcolor3">
                <tbody><tr><td align="left" class="cate_listing_head" colspan="2">Anti-Fraud Manager</td></tr>

                  <tr style="display:none"><td align="left" width="35%" class="cate_listing_head">Score</td>
                    <td align="right" height="26" class="bgcolor4"></td>                                                           
                  </tr>
                  <tr style="display:none"><td align="left" width="35%" class="cate_listing_head_1">Result</td>
                    <td align="right" height="26" class="bgcolor4"></td>                                            
                  </tr>

                  <tr>
                    <td align="left" width="35%" class="cate_listing_head_1">Status</td>
                    <td align="right" height="26" class="bgcolor4"><img title="Active" src="/images/online.png"><span class="Running">Active</span></td>
                  </tr>

                </tbody></table>





            </div>
          </div>
          <div class="hide" style="height: 100%;" id="Subscriptions">								   	 								 		<div id="divS">
            </div>
          </div>

          <div class="hide" style="height: 100%;" id="Billing History">

            <div id="divBH">
            </div>
          </div>
          <div class="hide" style="height: 100%;" id="Payment settings">

            <div id="divPS">
            </div>
          </div>
        </td>
      </tr>
    </tbody></table></td>
