<td valign="top" class="bgcolor2"><!-- action CML -->
  <table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
      <tr>
        <td class="middle_top">
          <table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
              <tr>
                <td colspan="2">
                  <span class="bodytext_1">
                    <a class="bodylink" href="index.php?cid=3">Home</a>
                    &gt; <a class="bodylink" href="index.php?cid=21&amp;action=CMM">Client Manager</a>
                    &gt; Clients
                  </span>
                </td>
              </tr>
              <tr>
                <td width="43">
                  <img align="bottom" width="30" height="32" border="0" title="Clients" src="/images/icon_view_client_big.png">
                </td>
                <td width="1266" valign="top" style="padding-top:2px">
                  <span class="txt_big_red">CLIENTS</span>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td style="padding:10px;">
          <table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
              <tr>
                <td class="btm_border">
                  <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                      <tr>
                        <td>
                          <table width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                              <tr>
                                <td width="7%">
                                  <span class="bodytext">Actions</span>
                                </td>
                                <td width="93%" class="line_bg">&nbsp;
                                </td>
                              </tr>
                            </tbody>
                          </table>                          
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <table width="210px" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                              <tr>
                                <td align="center">
                                  <table width="100%" cellspacing="1" cellpadding="1" border="0">
                                    <tbody>
                                      <tr>
                                        <td align="center" valign="bottom" height="33">
                                          <a href="index.php?cid=9&amp;action=CMC">
                                            <img align="absmiddle" width="30" height="32" border="0" title="New Client" src="/images/icon_add_client_big.png">
                                          </a>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td align="center" valign="bottom" height="20">
                                          <a class="sm_heading" href="index.php?cid=9&amp;action=CMC">New Client</a>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                                <td align="center">
                                  <table width="100%" cellspacing="1" cellpadding="1" border="0">
                                    <tbody>
                                      <tr>
                                        <td align="center" valign="bottom" height="33">
                                          <a href="#">
                                            <input align="absmiddle" width="26" type="image" height="29" border="0" onclick="if(chkdel(document.frmuser, 'DELETE', 'User')!=false)  { document.frmuser.action =''; document.frmuser.submit();}" name="userdel" title="Delete User" src="/images/icon_delete_big.gif">
                                          </a>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td align="center" valign="bottom" height="20">
                                          <a onclick="if(chkdel(document.frmuser, 'DELETE', 'User')!=false)  { document.frmuser.action =''; document.frmuser.submit();}" class="sm_heading" href="#">Delete </a>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                                <td align="center">
                                  <table width="100%" cellspacing="1" cellpadding="1" border="0">
                                    <tbody>
                                      <tr>
                                        <td align="center" valign="bottom" height="33">
                                          <a href="index.php?cid=8&amp;action=SMC"> 
                                          </a>
                                          <a href="index.php?cid=9&amp;action=CML">
                                            <img align="absmiddle" border="0" title="Refresh" src="/images/icon_refresh.gif"></a>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td align="center" valign="bottom" height="20">
                                          <a class="sm_heading" href="index.php?cid=9&amp;action=CML">Refresh</a>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td>
                  <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                      <tr>
                        <td height="10"></td>
                      </tr>
                      <tr>
                        <td class="tdgap">
                          <table width="70%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                              <tr class="cate_listing_head">  
                                <td valign="middle">&nbsp;Client Search</td>
                                <td align="center" width="5%" valign="middle">
                                  <img align="bottom" onclick="javascript:ShowHideHR('S33');" src="/images/search_show.png" id="imgS33">
                                </td>
                              </tr>
                              <tr id="trS33">
                                <td width="95%">
                                  <form id="frmsearch" method="post" action="index.php?cid=9&amp;action=CML&amp;left=0" name="frmsearch">
                                    <table width="75%" cellspacing="2" cellpadding="2" border="0">
                                      <tbody>
                                        <tr>
                                          <td width="15%" nowrap="nowrap" class="bodytext">Search By</td>
                                          <td width="23%">
                                            <label>
                                              <select id="cmbsearch" class="txtdrop" name="cmbsearch">
                                                <option value="">-Search by-</option>
                                                <option value="CONCAT(user_first_name,' ',user_last_name)">Client Name</option>
                                                <option value="user_email">Email</option>
                                                <option value="user_status">Status</option>
                                              </select>
                                            </label>
                                          </td>
                                          <td width="26%">
                                            <label>
                                              <input type="text" value=" " id="txtsearch" class="txtfield" name="txtsearch">
                                            </label>
                                          </td>
                                          <td width="7%">
                                            <a href="#">
                                              <input width="31" type="image" height="33" name="go" id="go" title="Search" src="/images/icon_search.gif">
                                            </a>
                                          </td>
                                          <td width="8%" class="bodytext">Show</td>
                                          <td width="21%" class="bodytext">
                                            <select onchange="document.frmsearch.submit()" id="limit" class="limit" name="limit">
                                              <option value="5">5</option>
                                              <option selected="" value="10">10</option>
                                              <option value="20">20</option><option value="40">40</option>
                                              <option value="80">80</option>
                                              <option value="160">160</option>
                                              <option value="320">320</option>
                                            </select>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </form>
                                </td>
                                <td width="5%" valign="bottom" class="bodytext">&nbsp;</td>
                              </tr>
                            </tbody>
                          </table>                          
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <table width="70%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                              <tr>
                                <td height="5"></td>
                              </tr>
                              <tr>
                                <td align="right">
                                  <a href="csv_download.php?id=user&amp;searchfield=&amp;searchval= " class="det_link">
                                    <img border="0" title="Export to Excel" src="/images/excel.jpg">
                                  </a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    <form action="index.php?cid=9&amp;action=CMD" method="post" name="frmuser" id="frmuser">
                    <%=  form_tag("", :method=>'post', :multipart => true,:name=>"frmuser",:id=>"frmuser",:action=>'') do %>  
                    <tr>
                      <td>
                        <table width="70%" cellspacing="1" cellpadding="0" border="0" class="bgcolor3">
                          <tbody>
                            <tr>
                              <td align="center" width="5%" class="cate_listing_center">
                                <input type="checkbox" onclick="javascript:selectall(checked, document.frmuser, 'chkdel[]')" id="checkbox" name="checkbox">
                              </td>
                              <td width="28%" class="cate_listing">
                                <a class="cate_listing_head" href="#">Client Name</a>  
                              </td>
                              <td width="29%" class="cate_listing">
                                <a class="cate_listing_head" href="#">Email</a>  
                              </td>
                              <td width="15%" class="cate_listing">
                                <a class="cate_listing_head" href="#">Status</a> 
                              </td>
                              <td width="23%" class="cate_listing">Actions</td>
                            </tr>
                            <%= render :partial=> 'client',:collection=>@users %>
                            <tr style="display:none">
                              <td align="center" height="50" bgcolor="#FFFFFF" class="no_record" colspan="5"> 
                              </td>
                            </tr>

            </tbody>
                  </table>                        
                      </td>

      </tr>
      <% end %>
      <tr>
        <td class="bodytext">
          <table width="70%" cellspacing="1" cellpadding="1" border="0">
            <tbody>
              <tr>
                <td width="64%">
                  <table align="left" width="408" cellspacing="0" cellpadding="0" border="0" class="bodytext">
                    <tbody>
                      <tr align="left" valign="bottom">
                        <td width="20">
                          <img align="absmiddle" width="16" height="20" border="0" title="Edit" src="/images/icon_edit_client.png">&nbsp;
                        </td>
                        <td width="20">Edit</td>
                        <td width="22">
                          <img align="absmiddle" width="18" height="16" border="0" title="Delete" src="/images/icon_delete.gif">&nbsp;
                        </td>
                        <td width="20">Delete</td>
                        <td width="22">
                          <img align="absmiddle" width="18" height="18" border="0" title="View Details" src="/images/icon_details.gif">&nbsp;
                        </td>
                        <td width="60" nowrap="nowrap">View Details</td>
                        <td width="20">
                          <img align="absmiddle" width="16" height="20" border="0" title="View VM" src="/images/icon_view_vm.png">
                        </td>
                        <td width="47">View VM</td>
                        <td width="20">
                          <img align="absmiddle" width="16" height="20" border="0" title="Login to CP" src="/images/icon_view_client.png">
                        </td>
                        <td width="74">Login to CP </td>
                      </tr>
                    </tbody>
                  </table>                  
                </td>
                <td align="right" width="36%"></td>
              </tr>
            </tbody>
          </table>          
        </td>
      </tr>
      <!--   <tr>

           <td><table width="70%"  border="0" cellspacing="1" cellpadding="1">

             <tr>

               <td width="48%">&nbsp;</td>
               <td width="52%" align="right"></td>

             </tr>

           </table></td>

         </tr>-->

    </tbody>
          </table>
                  
                </td>

</tr>

</tbody></table>



</td>

</tr>

</tbody></table></td>
