<td valign="top" class="bgcolor2"><table width="100%" cellspacing="0" cellpadding="0" border="0">
              <tbody><tr>
			  <td class="middle_top"><table width="100%" cellspacing="0" cellpadding="0" border="0">
                  <tbody><tr>
                    <td colspan="2"><span class="bodytext_1"><a class="bodylink" href="index.php?cid=3">Home</a> &gt;  <a class="bodylink" href="index.php?cid=24&amp;action=AIM&amp;left=4">Messages Manager</a> &gt; Inbox</span></td>
                    </tr>
                  <tr>
                    <td width="42"><img align="bottom" width="30" height="32" border="0" title="Inbox" src="/images/icon_inbox_big.png"></td>
                    <td width="1267" valign="top" style="padding-top:2px"><span class="txt_big_red">INBOX</span></td>
                  </tr>
                </tbody></table></td>
              </tr>
              <tr>
                <td style="padding:10px;">
				
				<table width="100%" cellspacing="0" cellpadding="0" border="0">
                  <tbody><tr>
                    <td class="btm_border"><table width="100%" cellspacing="0" cellpadding="0" border="0">
                      <tbody><tr>
                        <td><table width="100%" cellspacing="0" cellpadding="0" border="0">
                          <tbody><tr>
                            <td width="7%"><span class="bodytext">Actions</span></td>
                            <td width="93%" class="line_bg">&nbsp;</td>
                          </tr>
                        </tbody></table></td>
                      </tr>
                      <tr>
                        <td><table width="210" cellspacing="0" cellpadding="0" border="0">
  <tbody><tr>
    <td align="center"><table width="100%" cellspacing="1" cellpadding="1" border="0">
      <tbody><tr>
        <td align="center" valign="bottom" height="30"><a href="index.php?cid=24&amp;action=ACM&amp;left=4"><img align="absmiddle" width="30" height="32" border="0" title="Compose" src="/images/icon_compose.png"></a></td>
      </tr>
      <tr>
        <td align="center" valign="bottom" height="20"><a class="sm_heading" href="index.php?cid=24&amp;action=ACM&amp;left=4">Compose</a></td>
      </tr>
    </tbody></table></td>    <td align="center">
	<table width="100%" cellspacing="1" cellpadding="1" border="0">
      <tbody><tr>
        <td align="center" valign="bottom" height="30"><a href="#">
          <input align="absmiddle" width="26" type="image" height="29" border="0" onclick="if(chkdel(document.frmserver, 'DELETE', 'Message')!=false)  {  document.frmserver.submit();}" name="serverdel" title="Delete Message" src="/images/icon_delete_big.gif">
        </a></td>
      </tr>
      <tr>
        <td align="center" valign="bottom" height="20"><a onclick="if(chkdel(document.frmserver, 'DELETE', 'Message')!=false)  { document.frmserver.action ='index.php?cid=8&amp;direction=0&amp;action=SMD&amp;left=4'; document.frmserver.submit();}" class="sm_heading" href="#">Delete </a></td>
      </tr>
    </tbody></table></td>
	 <td align="center"><table width="100%" cellspacing="1" cellpadding="1" border="0">
       <tbody><tr>
         <td align="center" valign="bottom" height="30"><a href="index.php?cid=24&amp;action=AIM&amp;left=4">  <img align="absmiddle" width="30" height="29" border="0" title="Refresh" src="/images/icon_refresh.gif"></a></td>
       </tr>
       <tr>
         <td align="center" valign="bottom" height="20"><a class="sm_heading" href="index.php?cid=24&amp;action=AIM&amp;left=4">Refresh</a></td>
       </tr>
     </tbody></table></td>
  </tr>
</tbody></table>                   
                        </td>
                      </tr>
                    </tbody></table></td>
                  </tr>
				  <tr><td height="10"></td></tr>
                  <tr>
                    <td><table width="100%" cellspacing="0" cellpadding="0" border="0">
                      <tbody><tr>
                        <td class="tdgap"><table width="63%" cellspacing="0" cellpadding="0" border="0">
						  <tbody><tr class="cate_listing_head">
							    <td valign="middle">&nbsp;Inbox</td>
							    <td align="center" width="5%" valign="middle"><img align="bottom" onclick="javascript:ShowHideHR('S33');" src="/images/search_show.png" id="imgS33"></td>
						  </tr>
                          <tr id="trS33">
                            <td width="95%">
							<form id="frmsearch" method="post" name="frmsearch">
							<table width="80%" cellspacing="2" cellpadding="2" border="0">
                              <tbody><tr>
                                <td width="19%" class="bodytext">Search By</td>
                                <td width="27%">
                                  <label>
                                    <select id="cmbsearch" class="txtdrop" name="cmbsearch">
									  <option value="">-Search by-</option>
									   <option value="frm_user">From</option><option value="msg_subject">Subject</option>
                                    </select>
                                  </label>
                                </td>
                                <td width="28%">
                                  <label>
                                    <input type="text" value=" " id="txtsearch" class="txtfield" name="txtsearch">
                                  </label>
                                </td>
                                <td width="7%"><a href="#">
                                <input width="31" type="image" height="33" name="go" id="go" title="Search" src="/images/icon_search.gif"></a></td>						<td width="7%" class="bodytext">Show</td>
								<td width="12%" class="bodytext">
								<select onchange="document.frmsearch.submit()" id="limit" class="limit" name="limit">
								<option value="5">5</option><option selected="" value="10">10</option><option value="20">20</option><option value="40">40</option><option value="80">80</option><option value="160">160</option><option value="320">320</option>
								</select>
								</td>
                              </tr>
                            </tbody></table></form></td>
                            <td valign="bottom" class="bodytext">&nbsp;</td>
                          </tr>
                        </tbody></table></td>
                      </tr>
					  <form method="post" name="frmserver" id="frmserver"></form> 					 
                      <tr>
                        <td>
							<table width="63%" cellspacing="0" cellpadding="0" border="0">
							<tbody><tr><td height="5"></td></tr>
							  <tr>
								<td align="right"><a href="csv_download.php?id=in&amp;searchfield=&amp;searchval= " class="det_link"><img border="0" title="Export to Excel" src="/images/excel.jpg"></a></td>
							  </tr>
						  </tbody></table>
						</td>
                      </tr>
                      <tr>
                        <td><table width="63%" cellspacing="1" cellpadding="0" border="0" class="bgcolor3">
                          <tbody><tr>
                            <td align="center" width="8%" class="cate_listing_center">
                                <input type="checkbox" onclick="javascript:selectall(checked, document.frmserver, 'chkdel[]')" id="checkbox" name="checkbox">
                            </td>
                            <td width="23%" class="cate_listing"><a class="cate_listing_head" href="index.php?cid=24&amp;action=AIM&amp;orderby=frm_user&amp;left=4&amp;limit=10&amp;page=&amp;sort=ASC&amp;searchfield=&amp;searchval= ">From</a>  </td>
                            <td width="53%" class="cate_listing"><a class="cate_listing_head" href="index.php?cid=24&amp;action=AIM&amp;orderby=msg_subject&amp;left=4&amp;limit=10&amp;page=&amp;sort=ASC&amp;searchfield=&amp;searchval= ">Subject</a>  </td>
                            <td width="16%" class="cate_listing">Actions</td>
                          </tr>
						  
                          <tr>
                            <td align="center" height="26" class="bgcolor4_center">
                              <input type="checkbox" value="1" id="chkdel" name="chkdel[]">
							</td>
                            <td height="26" class="bgcolor4"><a class="det_link" href="index.php?cid=24&amp;action=AMD&amp;mid=1&amp;type=in&amp;left=4"></a></td>
                            <td height="26" class="bgcolor4">Customer Submit Ticket Notification: 1</td>
                            <td align="center" height="26" class="bgcolor4_center"><table align="center" width="101" cellspacing="0" cellpadding="0" border="0">
                              <tbody><tr>
                                <td align="center"><a style="cursor:pointer" onclick="if(chk_confirm('DELETE','MESSAGES')!=false)  location.href='index.php?cid=24&amp;action=ADM&amp;lastact=AIM&amp;mid=1&amp;left=4&amp;direction=0';"><img width="18" height="16" border="0" title="Delete" src="/images/icon_delete.gif"></a></td>
                              </tr>
                            </tbody></table></td>
                          </tr>
  						  
						  <tr style="display:none"><td align="center" height="50" bgcolor="#FFFFFF" class="no_record" colspan="4"> </td>
						  </tr>
                        </tbody></table></td>
                      </tr>
                      <tr>
                        <td class="bodytext"><table width="63%" cellspacing="1" cellpadding="1" border="0">
                          <tbody><tr>
                            <td width="62%"><table align="left" width="80" cellspacing="0" cellpadding="0" border="0" class="bodytext">
                              <tbody><tr align="left" valign="bottom">
                                <td width="22">&nbsp;</td>
                                <td width="48">&nbsp;</td>
                              </tr>
                            </tbody></table></td>
                            <td align="right" width="38%"></td>
                          </tr>
                        </tbody></table></td>
                      </tr>
                    </tbody></table></td>
                  </tr>
                </tbody></table>
				
				</td>
              </tr>
            </tbody></table></td>
