<td valign="top" class="bgcolor2"><table width="100%" cellspacing="0" cellpadding="0" border="0">
              <tbody><tr>
			  <td class="middle_top"><table width="100%" cellspacing="0" cellpadding="0" border="0">
                  <tbody><tr>
                    <td colspan="2"><span class="bodytext_1"><a class="bodylink" href="index.php?cid=3">Home</a> 
										&gt;  <a class="bodylink" href="index.php?cid=24&amp;action=AIM&amp;left=4">Messages Manager</a> 
					&gt;  <a class="bodylink" href="index.php?cid=24&amp;action=AIM&amp;left=4">Inbox</a>
										&gt; E-Mails Logs</span></td>
                    </tr>
                  <tr>
                    <td width="42"><img align="bottom" width="30" height="32" border="0" title="E-Mails Logs" src="../asset/images/icon_log_manager_big.png"></td>
                    <td width="1267" valign="top" style="padding-top:2px"><span class="txt_big_red">E-Mails Logs</span></td>
                  </tr>
                </tbody></table></td>
             
              </tr>
              <tr>
                <td class="tdgap1"><table width="100%" cellspacing="0" cellpadding="0" border="0">

					<tbody><tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td class="tdgap1"><table align="left" width="50%" cellspacing="0" cellpadding="0" border="0">
                          <tbody><tr>
                            <td class="bgcolor1"><table align="left" width="100%" cellspacing="1" cellpadding="0" border="0" class="bgcolor3">
                                <tbody><tr>
                                  <td align="right" width="31%" valign="top" class="cate_listing"><strong>To E-mail  :</strong></td>
                                  <td width="69%" valign="top" class="bgcolor4">&nbsp;<span class="bodytext">vmcomplete.com &lt;support@vmcomplete.com&gt;</span></td>
                                </tr>
                                 <tr>
                                  <td align="right" valign="top" class="cate_listing"><strong>From E-mail  :</strong></td>
                                  <td valign="top" class="bgcolor4">&nbsp;<span class="bodytext">amar saxena &lt;client@idifysolutions.com&gt;</span></td>
                                </tr>
								 <tr>
                                  <td align="right" valign="top" class="cate_listing"><strong>Subject  :</strong></td>
                                  <td valign="top" class="bgcolor4">&nbsp;<span class="bodytext">Customer Submit Ticket Notification: 1</span></td>
                                </tr>
                            </tbody></table></td>
                          </tr>
						  <tr>
						    <td>&nbsp;</td>
						  </tr>
						    <tr>
                            <td class="bgcolor1"><table align="left" width="100%" cellspacing="1" cellpadding="0" border="0" class="bgcolor3">
                                <tbody><tr>
                                  <td align="right" valign="top" class="cate_listing" colspan="2"><strong> 	Message body </strong></td>
                  
                                </tr>
								 <tr>
                                  <td align="right" valign="top" class="bgcolor4" colspan="2"><p>&nbsp;hello</p></td>
                  
                                </tr>
								</tbody></table>
								</td>
								</tr>
								<tr>
						    <td>&nbsp;</td>
							</tr>
								<tr>
						    <td><input width="64" type="button" height="25" border="0" id="btncancel" onclick="javascript:history.back();" name="btncancel" class="button" value="Cancel"></td>
						  </tr>
                      </tbody></table></td>
                    </tr>
                </tbody></table></td>
              </tr>
</tbody></table></td>
