<td valign="top" class="bgcolor2">
  <table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
      <tr>
        <td class="middle_top">
          <table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
              <tr>
                <td colspan="2">
                  <span class="contenttext_1">
                    <a class="bodylink" href="../index.php?cid=3">Home</a>&gt;
                    <span class="bodytext_1">
                      <a class="bodylink" href="fraudscore.php?left=LEFT_SCORE">Fraud Score</a>
                    </span>
                  </span>
                </td>
              </tr>
              <tr>
                <td width="4%">
                  <img align="bottom" width="30" height="32" border="0" title="Fraud Score" src="/images/fraudscoreinc.png">
                </td>
                <td width="96%" valign="top" style="padding-top:2px">
                  <span class="txt_big_red">Fraud Score</span>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>

      <tr>
        <td style="padding:5px;">
          <table width="100%" cellspacing="0" cellpadding="0" border="0">

            <tbody>
              <tr>
                <td class="btm_border">

                </td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>
                  <div id="dvContent">

                    <form method="post" name="frmaddgs" id="frmaddgs">
                      <table width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                          <tr>
                            <td valign="middle" colspan="2">
                              <table width="60%" cellspacing="1" cellpadding="0" border="0" class="bgcolor3">
                                <tbody>
                                  <tr>
                                    <td align="right" valign="middle" colspan="2" class="cate_listing">MaxMind Plugin Configuration<!--The MaxMind anti-fraud plug-ins provided include IP, e-mail, phone, and other black lists, and a set of built-in plug-ins like phone/country, IP country, IP city check.--></td>
                                  </tr>
                                  <tr>
                                    <td align="right" width="31%" valign="middle" class="cate_listing">  Fraud Score:</td>
                                    <td width="69%" valign="middle" class="bgcolor4">3.00
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                            <td align="left" width="11%" valign="top">
                            </td>
                          </tr>
                          <tr>
                            <td align="left" valign="top">&nbsp;
                            </td>
                          </tr>
                          <tr>
                            <td align="justify" valign="top" height="50" colspan="2" class="txt_small_red">*  Please note: If during the registration process, the fraud score exceeds the threshold value entered here, <br>
                              then the registration will be considered to be fraud.</td>
                          </tr>
                          <tr>
                            <td align="right" width="18%" valign="top">&nbsp;  </td>
                            <td align="left" width="71%" valign="top">
                              <input align="right" width="64" type="button" height="25" border="0" id="btnfraud" onclick="javascript:window.location='addscore.php?id=1&amp;left=LEFT_SCORE';" name="btnfraud" value="Edit" class="button">
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </form>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="contenttext">
                  <table width="100%" cellspacing="1" cellpadding="1" border="0">
                    <tbody>
                      <tr>
                        <td width="64%"></td>
                        <td align="right" width="36%"></td>
                      </tr>
                    </tbody>
                  </table>

                </td>
              </tr>
            </tbody>
          </table>

        </td>
      </tr>
    </tbody>
  </table>
  
</td>
