<td valign="top" class="bgcolor2"><table width="100%" cellspacing="0" cellpadding="0" border="0">
              <tbody><tr>
                <td class="middle_top"><table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody><tr>
                      <td colspan="2"><span class="contenttext_1"><a class="bodylink" href="../index.php?cid=3">Home</a> &gt; <span class="bodytext_1"><a class="bodylink" href="gateways.php?left=7">Payment Gateway</a></span></span></td>
                    </tr>
                    <tr>
                      <td width="4%"><img align="bottom" width="30" height="32" border="0" title="Payment Gateway" src="/images/gateway-icn.png"></td>
                      <td width="96%" valign="top" style="padding-top:2px"><span class="txt_big_red">Payment Gateway</span></td>
                    </tr>
                  </tbody></table></td>
              </tr>
              <tr>
			<td style="padding:5px;"><form method="post" name="frmaddgs1" id="frmaddgs1"><table width="100%" cellspacing="0" cellpadding="0" border="0">
			<!--<tr>
			<td align="left" height="30" valign="top">Actions</td>
			<td  class="line_bg" >&nbsp;</td>
			</tr> 
			<tr> 
				<td align="left" style="padding-left:50px;" width="20%" height="30" valign="bottom"><a href="selgateways.php?left=7"><img src="/images/gateway-icn.png" title="Select Payment Gateway" width="30" align="absmiddle" border="0" height="32"></a></td>
				 
			</tr>
			<tr> 
			<td align="left" height="20%" valign="bottom"><a href="selgateways.php?left=7" class="sm_heading">Select Payment Gateway </a></td> 
			</tr>
			<tr>
			  <td class="btm_border" colspan="4"></td>
			</tr>-->
			<tbody><tr>
			  <td colspan="4">&nbsp; </td>
			</tr>
			<tr>
			 <td colspan="4">		 
			  <div id="dvContent"> 
			   <table width="100%" cellspacing="0" cellpadding="0" border="0">
			 
									<tbody><tr>
                      <td>
                     	<div id="dvContent"><table width="100%" cellspacing="0" cellpadding="0" border="0"><tbody><tr><td valign="middle"><table width="40%" cellspacing="1" cellpadding="0" border="0" class="bgcolor3"><tbody><tr>
					 <!--<td width="8%"  align="center" class="cate_listing_center">
                                <input type="checkbox" name="checkbox" id="checkbox"  onClick="javascript:selectall(checked, document.frmaddgs1, 'chkdel[]')"/>
                            </td>-->
					<td align="center" width="50%" class="cate_listing"><a onclick="sortclick('asc','gateway','gateways')" class="cate_listing_head" href="#">Payment Gateway</a> </td>						
					<td align="center" width="20%" class="cate_listing"><a onclick="sortclick('asc','isEnabled','gateways')" href="#" class="cate_listing_head">Status</a> </td>	
					<td align="center" width="20%" class="cate_listing">Action</td>														
					</tr><tr>
					 <!--<td   align="center" class="bgcolor4_center">
                              <input type="checkbox" name="chkdel[]" id="chkdel" value="1"/>
							</td>-->
					<td align="center" width="50%" class="bgcolor4"><a href="addgateway.php?id=1&amp;left=7" class="det_link">Paypal</a></td>
					 
					<td align="center" width="20%" valign="middle" class="bgcolor4"><img title="Active" src="/images/online.png"><span class="Running">&nbsp;Active</span></td><td align="center" width="20%" class="bgcolor4"><a href="addgateway.php?id=1&amp;left=7" class="det_link">Configure</a></td>	</tr><tr>
					 <!--<td   align="center" class="bgcolor4_center">
                              <input type="checkbox" name="chkdel[]" id="chkdel" value="2"/>
							</td>-->
					<td align="center" width="50%" class="bgcolor4"><a href="addgateway.php?id=2&amp;left=7" class="det_link">Authorize.Net</a></td>
					 
					<td align="center" width="20%" valign="middle" class="bgcolor4"><img title="Active" src="/images/online.png"><span class="Running">&nbsp;Active</span></td><td align="center" width="20%" class="bgcolor4"><a href="addgateway.php?id=2&amp;left=7" class="det_link">Configure</a></td>	</tr></tbody></table></td></tr><tr><td valign="left"></td> </tr></tbody></table>
                        </div>
						                      
                        </td>
                    </tr>
								
			 
				<tr>
				  <td align="left" valign="top">&nbsp;                        
				  </td>
				</tr>
			 
			  </tbody></table>
		 
   		    
				</div></td>
				</tr>
				<tr>
				  <td class="contenttext"><form method="post" name="frmaddgs" id="frmaddgs">
				  <input type="hidden" value="" id="p_start" name="p_start">
   											 <input type="hidden" value="" id="p_sort" name="p_sort">
    										<input type="hidden" value="" id="column_name" name="column_name">
                                            <input type="hidden" value="" id="orderby" name="orderby">
   											 <input type="hidden" value="2" id="start_search" name="start_search"></form>
				  <table width="100%" cellspacing="1" cellpadding="1" border="0">
					  <tbody><tr>
						<td width="64%"></td>
						<td align="right" width="36%"></td>
					  </tr>
					</tbody></table></td>
				</tr>
			  </tbody></table></form></td>
              </tr>
            </tbody></table></td>
