<td valign="top" class="bgcolor2"><table width="100%" cellspacing="0" cellpadding="0" border="0">
              <tbody><tr>
                <td class="middle_top"><table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody><tr>
                      <td colspan="2"><span class="contenttext_1"><a class="bodylink" href="index.php?cid=3">Home</a> &gt; <a class="bodylink" href="ViewPlans.php?category=1&amp;left=3">Plans Manager</a> &gt; <a class="bodylink" href="ViewPlans.php?category=All">Hosting Plans</a></span></td>
                    </tr>
                    <tr>
                      <td width="4%"><img align="bottom" width="30" height="32" border="0" title="Add Server" src="../../asset/images/icon_hosting_plan.png"></td>
                      <td width="96%" valign="top" style="padding-top:2px"><span class="txt_big_red">uy</span></td>
                    </tr>
                  </tbody></table></td>
              </tr>
              <tr>
                <td style="padding:5px;"><table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody><tr>
                      <td><table width="100%" cellspacing="0" cellpadding="0" border="0">                        
                          <tbody><tr>
                            <td align="left" valign="top">
							<div style="height:100%" id="dvContent">                              
                                  <div class="show" style="height:100%">	
										<!--<form method="post" name="frmaddcp" id="frmaddcp">-->
									  <%= form_for @admin_plan,:url=>add_billing_hosting_plan_path(8),:html=>{:id=>'frmaddcp'} ,:method=>"post" do |f| %>
										<table width="70%" cellspacing="1" cellpadding="0" border="0" class="bgcolor3"><tbody><tr><td align="left" width="35%" class="cate_listing_head">Title</td><td align="right" height="26" class="bgcolor4">uy</td></tr><tr style="display:none"><td align="left" width="35%" class="cate_listing_head">Hosting plan type</td><td align="right" height="26" class="bgcolor4">Dedicated</td></tr><tr><td align="left" width="35%" class="cate_listing_head">Hosting plan category</td><td align="right" height="26" class="bgcolor4">OpenVZ</td></tr><tr><td align="left" width="35%" class="cate_listing_head">Active</td><td align="right" height="26" class="bgcolor4">No</td></tr><tr><td align="left" width="35%" class="cate_listing_head_1">Short Description</td><td align="right" height="26" class="bgcolor4"></td></tr><tr><td align="left" width="35%" class="cate_listing_head_1">Long Description</td><td align="right" height="26" class="bgcolor4"></td></tr></tbody></table><table width="70%" cellspacing="1" cellpadding="0" border="0"><tbody><tr><td align="left" colspan="2">&nbsp;</td></tr><tr><td align="left" width="70%"> <input width="64" type="button" height="25" border="0" id="btnplancancel" name="btnplancancel" class="button" onclick="window.document.location = '<%=billing_hosting_plans_path%>';" value="Cancel"></td><td align="right" width="30%">
										 <input width="64" type="button" height="25" border="0" id="btnplanback" name="btnplanback" class="button" onclick="window.document.location='<%=add_billing_hosting_plan_path(6)%>';" value="Back">&nbsp;<input width="64" type="submit" height="25" border="0" class="button" id="btnfinish" name="btnfinish" value="Finish">&nbsp;</td></tr></tbody></table>
										
										<!--</form>--><%end%>                                  </div>
                                 </div></td>
                          </tr>
                       
                        </tbody></table></td>
                    </tr>
                  </tbody></table></td>
              </tr>
            </tbody></table></td>
