<!--  more stuff section start-->
        <div class="buynow-text"> <a href="#"><img src="/images_new/btn_buynow.gif" width="146" height="43" alt="Buy Now" /></a> VMComplete is the only control panel in the industry that provides a full life-cycle solutions from selling virtual machines, to provisioning/managing them and your customers, in conjunction with a full helpdesk, billing/rebilling system with a feature-rich customer control panel.

        </div>
        <div class="morestuff">
          <h2>SCREEN SHOTS</h2>
          <ul>
            <li>
              <h3>Client Manager</h3>
              <a href="/images_new/client_manager_big.jpg" class="highslide" onclick="return hs.expand(this)"> <img src="/images_new/client_manager_th.jpg" alt="Client Manager" width="229" height="152" 
                                                                                                                         title="Click to enlarge" /></a>
              <p>Click to view larger</p>
            </li>
            <li>
              <h3>Server Manager</h3>
              <a href="/images_new/server_manager_big.jpg" class="highslide" onclick="return hs.expand(this)" ><img src="/images_new/server_manager_th.jpg" width="229" height="152" alt="Server Manager" /></a>
              <p>Click to view larger</p>
            </li>
            <li>
              <h3>VM Manager</h3>
              <a href="/images_new/vmmanger_big.jpg" class="highslide" onclick="return hs.expand(this)"><img src="/images_new/vm_manager_th.jpg" width="229" height="152" alt="VM Manager" /></a>
              <p>Click to view larger</p>
            </li>
            <li style="margin-right:0px;">
              <h3>Billing Manager</h3>
              <a href="/images_new/billing_manager_big.jpg" class="highslide" onclick="return hs.expand(this)"><img src="/images_new/billing_manager_th.jpg" width="229" height="152" alt="Billing Manager" /></a>
              <p>Click to view larger</p>
            </li>
          </ul>
          <div class="clear"></div>
        </div>
        <!--  more stuff sectin end-->
      </div>
    </div>
    <!-- top features section start-->
    <div class="centerbottom">
      <div class="topfeatures">
        <h2>Top Features</h2>
        <ul>
          <li> <img src="/images_new/host-node.jpg" width="185" alt="Just $10 per Host Node" />
            <p>VMComplete offers hosting companies a surprisingly affordable virtual machine hosting automation lifecycle solution. Whereas all other panels on the market require you to buy 3rd party add-ons and procure additional hardware, VMComplete has everything you need to start selling, provisioning and managing Virtual Machines and your customers Today!<br />
              <a href="#">Read More</a> </p>
          </li>
          <li> <img src="/images_new/admin-control.jpg" width="216" alt="Client, Reseller &amp; Admin Controls" />
            <p>VMComplete has a variety of security levels and features including an Administrator Panel, Client Virtual Machine Control Panel, Billing/Support/E-Commerce Interfaces.<br />
              <a href="#">Read More</a> </p>
          </li>
          <li> <img src="/images_new/higly-configuration.jpg" width="197" alt="Highly Configuration" />
            <p>Fully customizable storefront options, hosting plans, administrator &amp; client controls. Edit client information, upgrade virtual machine features, payment gateway settings &amp; More!<br />
              <a href="#">Read More</a> </p>
          </li>
          <li style="margin-right:0px;"> <img src="/images_new/backups.jpg" width="178" alt="Centralised Backups" />
            <p>VMComplete currently supports the following Virtualization platforms: 32-Bit Xen, 64-Bit Xen, 32-Bit OpenVZ, 64-Bit OpenVZ. Run a variety of operating systems including CentOS, Fedora, Debian, Ubuntu!<br />
              <a href="#">Read More</a> </p>
          </li>
        </ul>
        <div class="clear"></div>
