<div class="pricingsec">
  <div class="clear"></div>
  <ul style="width:100%" class="mid">
    <li class="sect1">
      <strong>Plan A</strong>
    </li>
    <li class="sect2"> $1.99 / month</li>
    <li class="sect2"> 1 VPS</li>
    <li class="sect3">
      <a href="signinh.php?id=MQ==&amp;rid=MQ==">
        <img width="103" border="0" height="25" id="Purchase3" name="Purchase2" alt="Puchase" src="asset/images_new/purchase_bt.gif">
      </a>
    </li>
  </ul>
  <div class="clear"></div>  
</div>
