<td valign="top" class="bgcolor2"><table width="100%" cellspacing="0" cellpadding="0" border="0">
              <tbody><tr>
                <td class="middle_top"><table width="100%" cellspacing="0" cellpadding="0" border="0">			
                    <tbody><tr>
                      <td colspan="2"><span class="bodytext_1"><a class="bodylink" href="index.php?cid=3">Home</a> &gt; <a class="bodylink" href="../index.php?cid=21&amp;action=CMM&amp;left=0">Client Manager</a>   </span></td>
                    </tr>
                    <tr>
                      <td width="4%"><img align="bottom" width="30" height="32" border="0" title="Grace Period Settings" src="../../asset/images/graceperiod-icn.png"></td>
                      <td width="96%" valign="top" style="padding-top:2px"><span class="txt_big_red"> Grace Period Settings</span></td>
                    </tr>
                  </tbody></table></td>
              </tr>			
              <tr>
                <td style="padding:5px;"><table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody><tr>
                      <td><form method="post" name="frmgraced" id="frmgraced"><table width="100%" cellspacing="0" cellpadding="0" border="0">
                      
					  	  <tbody><tr><td colspan="2">&nbsp;</td></tr>
						   <tr><td colspan="2">&nbsp;</td></tr>
                          <tr><td colspan="2"><table width="76%" cellspacing="1" cellpadding="0" border="0" class="bgcolor3">
						  <tbody><tr>
						  <td align="left" width="100%" colspan="3" class="cate_listing_head">Subscription Expiration Terms
						  <span class="error" style="padding-left: 240px;" id="chk"></span></td>
						  </tr>
						  <tr><td align="center" width="20%" class="cate_listing_head">Subscription Period</td>
						  <td align="center" width="27%" class="cate_listing_head">Grace Period</td>
						  <td align="center" width="27%" class="cate_listing_head">Expiration Period</td>
						  </tr>
						  						   <tr><td align="right" height="26" class="bgcolor4">1 month(s)</td>
						  <td align="right" height="26" class="bgcolor4"><input type="text" value="3" size="4" id="txtGraceM1_28" name="txtGraceM1_28">&nbsp;day(s)&nbsp;<span class="error" id="txtGraceM1">&nbsp;</span></td>
						  <td align="right" height="26" class="bgcolor4"><input type="text" value="2" size="4" id="txtExpM1_29" name="txtExpM1_29">&nbsp;day(s)&nbsp;<span class="error" id="txtExpM1">&nbsp;</span></td>
						  </tr>
						    						  <tr><td align="right" height="26" class="bgcolor4">3 month(s)</td>
						  <td align="right" height="26" class="bgcolor4"><input type="text" value="5" size="4" id="txtGraceM3_28" name="txtGraceM3_28">&nbsp;day(s)&nbsp;<span class="error" id="txtGraceM3">&nbsp;</span></td>
						  <td align="right" height="26" class="bgcolor4"><input type="text" value="7" size="4" id="txtExpM3_29" name="txtExpM3_29">&nbsp;day(s)&nbsp;<span class="error" id="txtExpM3">&nbsp;</span></td>
						  </tr>
						    						  <tr><td align="right" height="26" class="bgcolor4">6 month(s)</td>
						  <td align="right" height="26" class="bgcolor4"><input type="text" value="5" size="4" id="txtGraceM6_28" name="txtGraceM6_28">&nbsp;day(s)&nbsp;<span class="error" id="txtGraceM6">&nbsp;</span></td>
						  <td align="right" height="26" class="bgcolor4"><input type="text" value="1" size="4" id="txtExpM6_29" name="txtExpM6_29">&nbsp;day(s)&nbsp;<span class="error" id="txtExpM6">&nbsp;</span></td>
						  </tr>
						    						    <tr><td align="right" height="26" class="bgcolor4">1 year(s)</td>
						  <td align="right" height="26" class="bgcolor4"><input type="text" value="5" size="4" id="txtGraceYr_28" name="txtGraceYr_28">&nbsp;day(s)&nbsp;<span class="error" id="txtGraceYr">&nbsp;</span></td>
						  <td align="right" height="26" class="bgcolor4"><input type="text" value="5" size="4" id="txtExpYr_29" name="txtExpYr_29">&nbsp;day(s)&nbsp;<span class="error" id="txtExpYr">&nbsp;</span></td>
						  </tr>
						 
						  </tbody></table>
						  </td></tr><tr><td align="left" height="26">&nbsp;</td>						 
						  <td align="left" height="26">&nbsp;</td>
						  </tr>
						   <tr>
                      <td><table width="100%" cellspacing="0" cellpadding="0" border="0">
                      
					  	  <tbody><tr><td colspan="2">&nbsp;</td></tr>
						  
                          <tr><td colspan="2"><table width="76%" cellspacing="1" cellpadding="0" border="0" class="bgcolor3">
						  <tbody><tr>
						  <td align="left" width="100%" colspan="2" class="cate_listing_head">Subscription Termination Terms
						  <span class="error" style="padding-left: 240px;" id="chk"></span></td>
						  </tr>
						  <tr><td align="center" width="20%" class="cate_listing_head">Subscription Period</td>
						  <td align="center" width="80%" class="cate_listing_head">Method of termination period</td>						   
						  </tr>
						  						    <tr><td align="center" width="20%" colspan="2" class="bgcolor4">1 month(s) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" value="M" name="rdoM1" id="rdoM1">Terminate manually </td>						   
						  </tr>
						   <tr><td align="center" width="20%" colspan="2" class="bgcolor4">
						   <div style="padding-left:133px;">&nbsp; 
						   <input type="radio" value="A" checked="checked" name="rdoM1" id="rdoM1">Terminate automatically in a period &nbsp;<input type="text" value="2" size="4" id="txtM1_30" name="txtM1_30">&nbsp;day(s) <span class="error" id="txtM1">&nbsp;</span>   </div></td>						   
						  </tr>
						   <tr><td align="center" width="20%" colspan="2" class="bgcolor4">
						   <div style="padding-left:133px;">&nbsp; <input type="radio" value="I" name="rdoM1" id="rdoM1">Terminate immediately </div></td>	
						  </tr>
						   						   <tr><td align="center" width="20%" colspan="2" class="bgcolor4">3 month(s) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" value="M" name="rdoM3" id="rdoM3">Terminate manually </td>						   
						  </tr>
						   <tr><td align="center" width="20%" colspan="2" class="bgcolor4"><div style="padding-left:133px;">&nbsp; 
						   <input type="radio" value="A" checked="checked" name="rdoM3" id="rdoM3">Terminate automatically in a period &nbsp;<input type="text" value="1" size="4" id="txtM3_30" name="txtM3_30">&nbsp;day(s) <span class="error" id="txtM3">&nbsp;</span>  </div></td>						   
						  </tr>
						   <tr><td align="center" width="20%" colspan="2" class="bgcolor4"><div style="padding-left:133px;">&nbsp; <input type="radio" value="I" name="rdoM3" id="rdoM3">Terminate immediately </div></td>						   
						  </tr>
						  						  <tr><td align="center" width="20%" colspan="2" class="bgcolor4">6 month(s) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" value="M" name="rdoM6" id="rdoM6">Terminate manually </td>						   
						  </tr>
						   <tr><td align="center" width="20%" colspan="2" class="bgcolor4"><div style="padding-left:133px;">&nbsp; 
						   <input type="radio" value="A" checked="checked" name="rdoM6" id="rdoM6">Terminate automatically in a period &nbsp;<input type="text" value="1" size="4" id="txtM6_30" name="txtM6_30">&nbsp;day(s) <span class="error" id="txtM6">&nbsp;</span></div></td>						   
						  </tr>
						   <tr><td align="center" width="20%" colspan="2" class="bgcolor4"><div style="padding-left:133px;">&nbsp; <input type="radio" value="I" name="rdoM6" id="rdoM6">Terminate immediately </div></td>						   
						  </tr>
						   						  <tr><td align="center" width="20%" colspan="2" class="bgcolor4">1 year(s)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" value="M" name="rdoMyr" id="rdoMyr">Terminate manually </td>						   
						  </tr>
						   <tr><td align="center" width="20%" colspan="2" class="bgcolor4"><div style="padding-left:133px;">&nbsp; 
						   <input type="radio" value="A" checked="checked" name="rdoMyr" id="rdoMyr">Terminate automatically in a period &nbsp;<input type="text" value="1" size="4" id="txtMYr_30" name="txtMYr_30">&nbsp;day(s) <span class="error" id="txtMYr">&nbsp;</span> </div></td>						   
						  </tr>
						   <tr><td align="center" width="20%" colspan="2" class="bgcolor4"><div style="padding-left:133px;">&nbsp; <input type="radio" value="I" name="rdoMyr" id="rdoMyr">Terminate immediately </div></td>						   
						  </tr>
						  </tbody></table>
						 </td>
						  </tr>
						     <tr>
                            <td align="left" valign="top" colspan="2">&nbsp;</td>
                          </tr> 
						   <tr><td align="left" height="26"><input type="button" value="Cancel" onclick="javascript:window.document.location='../index.php?cid=3';" name="btnCancel" id="btnCancel" class="button"></td>
						 <td align="left" height="26"><input type="submit" value="Save" onclick="return validateForms('frmgraced');" name="btnSave" id="btnSave" class="button"></td>
						  </tr>
                          <tr>
                            <td align="left" valign="top" colspan="2"></td>
                          </tr>                                                  
                        </tbody></table></td>
                    </tr>
                  </tbody></table></form></td>
              </tr>
            </tbody></table></td>
        </tr>
      </tbody></table>
    </td>
