<td valign="top" class="bgcolor2">
  <table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
      <tr>
        <td class="tdgap1">
          <table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
              <tr>
                <td class="tdgap1">
                  <table align="left" width="65%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                      <tr>
                        <td>
                          <img align="absmiddle" width="29" height="35" title="Client Manager" src="/images/client_manager.gif">
                          <span class="heading">Client Manager : </span>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding:20px" class="bgcolor1">
                          <table width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                              <tr>
                                <td width="70%">
                                  <table align="center" width="100%" cellspacing="0" cellpadding="0" border="0" class="bgcolor6">
                                    <tbody>
                                      <tr>
                                        <td>
                                          <table align="center" width="100%" cellspacing="1" cellpadding="1" border="0">
                                            <tbody>
                                              <tr>
                                                <td align="left" width="50%" class="bgcolor5">
                                                  <span class="txt_spac">Active Clients</span>
                                                </td>

                                                <td align="right" width="50%" class="bgcolor2">
                                                  <a class="det_link" href="index.php?cid=9&amp;action=CML&amp;left=0&amp;searchfield=user_status&amp;searchval=Active">2</a>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td align="left" width="50%" class="bgcolor5">
                                                  <span class="txt_spac">On Hold Accounts</span>
                                                </td>
                                                <td align="right" width="50%" class="bgcolor2">
                                                  <span class="bodytext">0&nbsp;&nbsp;</span>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td align="left" width="50%" class="bgcolor5">
                                                  <span class="txt_spac">Total Accounts</span>
                                                </td>
                                                <td align="right" width="50%" class="bgcolor2">
                                                  <a class="det_link" href="index.php?cid=9&amp;action=CML&amp;left=0">2</a>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                                <td valign="top">
                                  <table align="center" width="68%" cellspacing="0" cellpadding="0" border="0">
                                    <tbody>
                                      <tr>
                                        <td align="right" width="22%">
                                          <img width="16" height="16" src="/images/icon_add.png">
                                        </td>
                                        <td width="2%">&nbsp;</td>
                                        <td width="76%">
                                          <a class="det_link" href="index.php?cid=9&amp;action=CMC&amp;left=0">New Client </a>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td class="tdgap1">
                  <table align="left" width="65%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                      <tr>
                        <td>
                          <img align="absmiddle" width="30" height="32" title="Server Manager" src="/images/server_management.gif">
                          <span class="heading">Server Manager : </span>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding:20px" class="bgcolor1">
                          <table width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                              <tr>
                                <td width="70%">
                                  <table align="center" width="100%" cellspacing="0" cellpadding="0" border="0" class="bgcolor6">
                                    <tbody>
                                      <tr>
                                        <td>
                                          <table align="center" width="100%" cellspacing="1" cellpadding="1" border="0">
                                            <tbody>
                                              <tr>
                                                <td align="left" width="50%" class="bgcolor5">
                                                  <span class="txt_spac">Total Servers </span>
                                                </td>
                                                <td align="right" width="50%" class="bgcolor2">
                                                  <a class="det_link" href="index.php?cid=8&amp;action=SML&amp;left=1">2</a>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                                <td>
                                  <table align="center" width="66%" cellspacing="0" cellpadding="0" border="0">
                                    <tbody>
                                      <tr>
                                        <td align="right" width="21%">
                                          <img width="16" height="16" src="/images/icon_add.png">
                                        </td>
                                        <td width="3%">&nbsp;</td>
                                        <td width="76%">
                                          <a class="det_link" href="index.php?cid=8&amp;action=SMC&amp;left=1">New Server </a>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td class="tdgap1">
                  <table align="left" width="65%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                      <tr>
                        <td>
                          <img align="absmiddle" width="30" height="32" title="VM Manager" src="/images/icon_view_vm_big.png">
                          <span class="heading">VM Manager : </span>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding:20px" class="bgcolor1">
                          <table width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                              <tr>
                                <td width="70%">
                                  <table align="center" width="100%" cellspacing="0" cellpadding="0" border="0" class="bgcolor6">
                                    <tbody>
                                      <tr>
                                        <td>
                                          <table align="center" width="100%" cellspacing="1" cellpadding="1" border="0">
                                            <tbody>
                                              <tr>
                                                <td align="left" width="50%" class="bgcolor5">
                                                  <span class="txt_spac">Total VM </span>
                                                </td>
                                                <td align="right" width="50%" class="bgcolor2">
                                                  <a class="det_link" href="index.php?cid=7&amp;action=VML&amp;left=2"></a><a class="det_link" href="index.php?cid=7&amp;action=VML&amp;left=2">1</a>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                                <td>
                                  <table align="center" width="64%" cellspacing="0" cellpadding="0" border="0">
                                    <tbody>
                                      <tr>
                                        <td align="right" width="19%">
                                          <img width="16" height="16" src="/images/icon_add.png">
                                        </td>
                                        <td width="4%">&nbsp;</td>
                                        <td width="77%">
                                          <a class="det_link" href="index.php?cid=7&amp;action=VMC&amp;left=2">New VM </a>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td class="tdgap1">
                  <table align="left" width="65%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                      <tr>
                        <td>
                          <img align="absmiddle" width="30" height="32" title="Plan Manager" src="/images/icon_hosting_plan.png">
                          <span class="heading">Plan Manager : </span>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding:20px" class="bgcolor1">
                          <table width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                              <tr>
                                <td width="70%">
                                  <table align="center" width="100%" cellspacing="0" cellpadding="0" border="0" class="bgcolor6">
                                    <tbody>
                                      <tr>
                                        <td>
                                          <table align="center" width="100%" cellspacing="1" cellpadding="1" border="0">
                                            <tbody>
                                              <tr>
                                                <td align="left" width="50%" class="bgcolor5">
                                                  <span class="txt_spac">XEN-VPS</span>
                                                </td>
                                                <td align="right" width="50%" class="bgcolor2">
                                                  <a href="BillingDirector/ViewPlans.php?category=1&amp;left=3" class="det_link">0</a>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td align="left" width="50%" class="bgcolor5">
                                                  <span class="txt_spac">OpenVZ</span>
                                                </td>
                                                <td align="right" width="50%" class="bgcolor2">
                                                  <a href="BillingDirector/ViewPlans.php?category=2&amp;left=3" class="det_link">0</a>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td align="left" width="50%" class="bgcolor5">
                                                  <span class="txt_spac">Dedicated Server</span>
                                                </td>
                                                <td align="right" width="50%" class="bgcolor2">
                                                  <a href="BillingDirector/ViewPlans.php?category=3&amp;left=3" class="det_link">0</a>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                                <td valign="top">
                                  <table align="center" width="74%" cellspacing="0" cellpadding="0" border="0">
                                    <tbody>
                                      <tr>
                                        <td align="right" width="24%">
                                          <img width="16" height="16" src="/images/icon_add.png">
                                        </td>
                                        <td width="3%">&nbsp;</td>
                                        <td width="73%">
                                          <a class="det_link" href="BillingDirector/addplan.php?category=1&amp;left=3">New Hosting plan</a>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td class="tdgap1">
                  <table align="left" width="65%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                      <tr>
                        <td>
                          <img align="absmiddle" width="30" height="32" title="Subscription Manager" src="/images/icon_hosting_plan.png">
                          <span class="heading">Subscription Manager : </span>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding:20px" class="bgcolor1">
                          <table width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                              <tr>
                                <td width="70%">
                                  <table align="center" width="100%" cellspacing="0" cellpadding="0" border="0" class="bgcolor6">
                                    <tbody>
                                      <tr>
                                        <td>
                                          <table align="center" width="100%" cellspacing="1" cellpadding="1" border="0">
                                            <tbody>
                                              <tr>
                                                <td align="left" width="50%" class="bgcolor5">
                                                  <span class="txt_spac">XEN-VPS</span>
                                                </td>
                                                <td align="right" width="50%" class="bgcolor2">
                                                  <a href="BillingDirector/Subscriptions.php?category=1" class="det_link">0</a>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td align="left" width="50%" class="bgcolor5">
                                                  <span class="txt_spac">OpenVZ</span>
                                                </td>
                                                <td align="right" width="50%" class="bgcolor2">
                                                  <a href="BillingDirector/Subscriptions.php?category=2" class="det_link">0</a>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td align="left" width="50%" class="bgcolor5">
                                                  <span class="txt_spac">Dedicated Server</span>
                                                </td>
                                                <td align="right" width="50%" class="bgcolor2">
                                                  <a href="BillingDirector/Subscriptions.php?category=3" class="det_link">0</a>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                                <td valign="top">
                                  <table align="center" width="74%" cellspacing="0" cellpadding="0" border="0">
                                    <tbody>
                                      <tr>
                                        <td align="right" width="24%">
                                          <img width="16" height="16" src="/images/icon_add.png">
                                        </td>
                                        <td width="3%">&nbsp;</td>
                                        <td width="73%">
                                          <a class="det_link" href="BillingDirector/Subscriptions.php">Subscriptions</a>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td class="tdgap1">
                  <table align="left" width="65%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                      <tr>
                        <td>
                          <img align="absmiddle" width="30" height="32" title="Orders Manager" src="/images/icon_hosting_plan.png">
                          <span class="heading">Orders Manager : </span>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding:20px" class="bgcolor1">
                          <table width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                              <tr>
                                <td width="70%">
                                  <table align="center" width="100%" cellspacing="0" cellpadding="0" border="0" class="bgcolor6">
                                    <tbody>
                                      <tr>
                                        <td>
                                          <table align="center" width="100%" cellspacing="1" cellpadding="1" border="0">
                                            <tbody>
                                              <tr>
                                                <td align="left" width="50%" class="bgcolor5">
                                                  <span class="txt_spac">Total Orders</span>
                                                </td>
                                                <td align="right" width="50%" class="bgcolor2">
                                                  <a href="BillingDirector/document.php?left=3" class="det_link">0</a>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td align="left" width="50%" class="bgcolor5">
                                                  <span class="txt_spac">Completed Orders</span>
                                                </td>
                                                <td align="right" width="50%" class="bgcolor2">
                                                  <a href="BillingDirector/pending_orders.php?status=completed&amp;left=3" class="det_link">0</a>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td align="left" width="50%" class="bgcolor5">
                                                  <span class="txt_spac">Pending Orders</span>
                                                </td>
                                                <td align="right" width="50%" class="bgcolor2">
                                                  <a href="BillingDirector/pending_orders.php?status=pending&amp;left=3" class="det_link">0</a>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td align="left" width="50%" class="bgcolor5">
                                                  <span class="txt_spac">Cancelled Orders</span>
                                                </td>
                                                <td align="right" width="50%" class="bgcolor2">
                                                  <a href="BillingDirector/pending_orders.php?status=cancelled&amp;left=3" class="det_link">0</a>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                                <td valign="top">
                                  <table align="center" width="74%" cellspacing="0" cellpadding="0" border="0">
                                    <tbody>
                                      <tr>
                                        <td align="right" width="24%">
                                          <img width="16" height="16" src="/images/icon_add.png">
                                        </td>
                                        <td width="3%">&nbsp;</td>
                                        <td width="73%">
                                          <a class="det_link" href="BillingDirector/document.php?left=3">Receivables</a>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</td>
