<td valign="top" class="bgcolor2"><table width="100%" cellspacing="0" cellpadding="0" border="0">
              <tbody><tr>
			  <td class="middle_top"><table width="100%" cellspacing="0" cellpadding="0" border="0">
                  <tbody><tr>
                    <td colspan="2"><span class="bodytext_1"><a class="bodylink" href="index.php?cid=3">Home</a> &gt;  <a class="bodylink" href="index.php?cid=21&amp;action=SMM&amp;left=1">Servers Manager</a> &gt; Device Management  </span></td>
                    </tr>
                  <tr>
                    <td width="4%"><img align="bottom" width="29" height="32" border="0" title="Device Management" src="../asset/images/device_management.png"></td>
                    <td width="96%" valign="top" style="padding-top:2px"><span class="txt_big_red">Device Management</span></td>
                  </tr>
                </tbody></table></td>

              </tr>
              <tr>
                <td class="tdgap1"><table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody><tr>
                      <td class="tdgap1">
					  <form method="post" id="frmdev" name="frmdev" action="index.php?cid=8&amp;action=SDM&amp;left=1">
					  <table align="left" width="470" cellspacing="0" cellpadding="0" border="0">
					                      <tbody><tr>
                      <td align="center" height="30" class="mandotry" colspan="2"><span class="bolderror"></span></td>
                    </tr>
                          <tr>
                            <td colspan="2" class="bgcolor1">
							
							<table width="100%" cellspacing="1" cellpadding="4" border="0" class="bgcolor3">

                    <tbody><tr>
                      <td align="right" width="43%" valign="top" class="cate_listing"><span class="mandotry">*</span> Select Server : </td>
                      <td width="57%" valign="top" class="bgcolor4"><select onchange="document.frmdev.submit()" id="cmbserver_1" name="cmbserver_1">
					  <option value=""> - Select - </option><option value="2">OpenVz</option><option value="3">deepak</option><option value="4">admin@idifysolutions.com</option>
                      </select></td>
                    </tr>
					
                    <tr>
                      <td align="right" valign="top" class="cate_listing"><span class="mandotry">*</span> RAM :</td>
                      <td valign="top" class="bgcolor4"></td>
                    </tr>
					
                    <tr>
                      <td align="right" valign="top" class="cate_listing"><span class="mandotry">*</span> HDD :</td>
                      <td valign="top" class="bgcolor4"></td>
                    </tr>
									

                </tbody></table>
							</td>
                          </tr>
						                      <tr>
                      <td align="right" width="43%" valign="middle">&nbsp;</td>
                      <td width="57%" valign="middle" height="35">                        &nbsp;
                        <input type="button" onclick="history.back()" value="Ok" id="btncancel" class="button" name="btncancel"></td>
                    </tr>
                      </tbody></table>
					  </form></td>
                    </tr>
                </tbody></table></td>
              </tr>
            </tbody></table></td>
