<td valign="top" class="bgcolor2"><table width="100%" cellspacing="0" cellpadding="0" border="0">
              <tbody><tr>
<td class="middle_top"><table width="100%" cellspacing="0" cellpadding="0" border="0">
                  <tbody><tr>
                    <td colspan="2"><span class="bodytext_1"><a class="bodylink" href="index.php?cid=3">Home</a> &gt;  <a class="bodylink" href="index.php?cid=8&amp;action=SML&amp;left=1">Servers Manager</a> &gt; Network Management - IP Manager</span></td>
        </tr>
                  <tr>
                    <td width="41"><img align="absmiddle" width="30" height="32" title="IP Manager" src="../asset/images/icon_ip_big.png"></td>
                    <td width="1284" valign="top" style="padding-top:2px"><span class="txt_big_red">IP Manager</span></td>
                  </tr>
                </tbody></table></td> 

               
              </tr>
              <tr>
                <td class="tdgap1"><table width="100%" cellspacing="0" cellpadding="0" border="0">
 
                    <tbody><tr>
                      <td class="tdgap1">					      <table width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody><tr>
                          <td class="tdgap1"><table align="left" width="64%" cellspacing="0" cellpadding="0" border="0">
                              <tbody><tr>
                                <td><img align="absmiddle" width="30" height="32" src="../asset/images/icon_ippool_big.png"> <span class="heading">IP Pools : </span></td>
                              </tr>
                              <tr>
                                <td style="padding:20px" class="bgcolor1"><table width="100%" cellspacing="0" cellpadding="0" border="0">
                                  <tbody><tr>
                                    <td width="70%"><table align="center" width="100%" cellspacing="0" cellpadding="0" border="0" class="bgcolor6">
                                    <tbody><tr>
                                      <td><table align="center" width="100%" cellspacing="1" cellpadding="1" border="0">
                                          <tbody><tr>
                                            <td align="left" width="50%" class="bgcolor5"><span class="txt_spac">Total</span> </td>
                                            <td align="right" width="50%" class="bgcolor2"><a class="det_link" href="index.php?cid=12&amp;action=SPM&amp;left=1">1</a></td>
                                          </tr>
                                      </tbody></table></td>
                                    </tr>
                                </tbody></table></td>
                                    <td width="30%"><table align="center" width="69%" cellspacing="0" cellpadding="0" border="0">
                                    <tbody><tr>
                                      <td><img width="16" height="16" src="../asset/images/icon_add.png"></td>
                                      <td><a class="det_link" href="index.php?cid=12&amp;action=SPA&amp;left=1">New IP Pool </a></td>
                                    </tr>
                                </tbody></table></td>
                                  </tr>
                                </tbody></table>
                                  &nbsp;                                </td>
                              </tr>
                          </tbody></table></td>
                        </tr>
                        <tr>
                          <td class="tdgap1"><table align="left" width="64%" cellspacing="0" cellpadding="0" border="0">
                              <tbody><tr>
                                <td><img align="absmiddle" width="30" height="32" src="../asset/images/icon_ip_big.png"> <span class="heading">IP Addresses : </span></td>
                              </tr>
                              <tr>
                                <td style="padding:20px" class="bgcolor1"><table width="100%" cellspacing="0" cellpadding="0" border="0">
                                  <tbody><tr>
                                    <td width="70%" rowspan="3"><table align="center" width="100%" cellspacing="0" cellpadding="0" border="0" class="bgcolor6">
                                    <tbody><tr>
                                      <td><table align="center" width="100%" cellspacing="1" cellpadding="1" border="0">
                                          <tbody><tr>
                                            <td align="left" class="bgcolor5"><span class="txt_spac">Available</span></td>
                                            <td align="right" class="bgcolor2"><a class="det_link" href="index.php?cid=12&amp;action=SVI&amp;ips_isalloted=0&amp;left=1">74</a></td>
                                          </tr>
                                          <tr>
                                            <td align="left" class="bgcolor5"><span class="txt_spac">Assigned</span> </td>
                                            <td align="right" class="bgcolor2"><a class="det_link" href="index.php?cid=12&amp;action=SVI&amp;ips_isalloted=1&amp;left=1">0</a></td>
                                          </tr>
                                          <tr>
                                            <td align="left" width="50%" class="bgcolor5"><span class="txt_spac">Total</span> </td>
                                            <td align="right" width="50%" class="bgcolor2"><a class="det_link" href="index.php?cid=12&amp;action=SVI&amp;left=1">74</a></td>
                                          </tr>
                                      </tbody></table></td>
                                    </tr>
                                </tbody></table></td>
                                    <td width="30%"><table align="center" width="69%" cellspacing="0" cellpadding="0" border="0">
                                      <tbody><tr>
                                        <td><img width="16" height="16" src="../asset/images/icon_add.png"></td>
                                        <td><a class="det_link" href="index.php?cid=12&amp;action=SAI&amp;left=1">Add New IP </a></td>
                                      </tr>
                                    </tbody></table></td>
                                  </tr>
                                  <tr>
                                    <td>&nbsp;</td>
                                  </tr>
                                  <tr>
                                    <td>&nbsp;</td>
                                  </tr>
                                </tbody></table>
                                </td>
                              </tr>
                          </tbody></table></td>
                        </tr>
                                                </tbody></table></td></tr>
                </tbody></table></td>
              </tr>
            </tbody></table>
</td>
