<td valign="top" class="bgcolor2"><table width="100%" cellspacing="0" cellpadding="0" border="0">

              <tbody><tr style="display:table-row">

			  <td class="middle_top"><table width="100%" cellspacing="0" cellpadding="0" border="0">

                  <tbody><tr>

                    <td colspan="2"><span class="bodytext_1"><a class="bodylink" href="index.php?cid=3">Home</a> &gt;  <a class="bodylink" href="index.php?cid=21&amp;action=SMM&amp;left=1">Servers Manager</a> &gt; Reset Password </span></td>

                    </tr>

                  <tr>

                    <td width="38"><img align="bottom" width="30" height="30" border="0" title="Reset Password" src="/images/reset_password_big.png"></td>

                    <td align="left" width="1271" valign="top" style="padding-top:2px"><span class="txt_big_red">Reset Password</span></td>

                  </tr>

                </tbody></table></td>



              </tr>

              <tr>

                <td class="tdgap1">

				<div align="center" id="chldpar2">			

				<table width="100%" cellspacing="0" cellpadding="0" border="0">

                    <tbody><tr>

                      <td class="tdgap1">

					  <form enctype="multipart/form-data" onsubmit="get(document.frmucr,'index.php?cid=8&amp;action=SRP&amp;left=1','chldpar2','index.php?cid=8&amp;action=SRP&amp;msg=1&amp;left=1'); return false;" method="post" id="frmucr" name="frmucr">

					  <table align="left" width="60%" cellspacing="0" cellpadding="0" border="0">

					                      <tbody><tr>

                      <td align="center" class="mandotry" colspan="2"><span class="bolderror"></span></td>

                    </tr>

                          <tr>

                            <td colspan="2" class="bgcolor1">

							<table width="100%" cellspacing="1" cellpadding="4" border="0" class="bgcolor3">



                    <tbody><tr>

                      <td align="right" width="37%" valign="top" class="cate_listing"><span class="mandotry">*</span> Select Server : </td>

                      <td valign="top" class="bgcolor4" colspan="2"><select id="cmbserver_1" name="cmbserver_1">

					  <option value=""> - Select - </option><option value="2">OpenVz</option><option value="3">deepak</option><option value="4">admin@idifysolutions.com</option>

                      </select></td>
                    </tr>

                    <tr>

                      <td align="right" valign="top" class="cate_listing"><span class="mandotry">*</span> Old Password :</td>

                      <td valign="top" class="bgcolor4" colspan="2"><input type="password" id="txtpwd_1" class="txtfield1" name="txtpwd_1">

    </td>
                    </tr>

                    <tr>

                      <td align="right" valign="top" class="cate_listing"><span class="mandotry">*</span> New Password :</td>

                      <td width="36%" valign="top" class="bgcolor4">                            <input type="password" onchange="funshow2('get_ajax_content.php?ajax=CHP',this.value,'showMsg');" id="txtnpwd_1" class="txtfield1" name="txtnpwd_1">

                        </td>

                      <td width="27%" valign="top" bo="" class="bgcolor4"><span class="bolderror" id="showMsg"></span></td>
                    </tr>

                    <tr>

                      <td align="right" valign="top" class="cate_listing"><span class="mandotry">*</span> Retype Password :</td>

                      <td valign="top" class="bgcolor4" colspan="2">                        <input type="password" id="txtrpwd_1" class="txtfield1" name="txtrpwd_1"> 

                        </td>
                    </tr>
                </tbody></table>

							</td>

                          </tr>

						                      <tr>

                      <td align="right" width="37%" valign="middle"><input type="button" onclick="history.back()" value="Cancel" id="btncancel" class="button" name="btncancel">&nbsp;</td>

                      <td align="left" width="63%" valign="middle" height="35"><input type="submit" value="Submit" id="resetpwd" class="button" name="resetpwd"></td>

                    </tr>

                      </tbody></table></form></td>

                    </tr>

                </tbody></table>

				</div>

				</td>

              </tr>

            </tbody></table></td>
