<td valign="top" class="bgcolor2"><table width="100%" cellspacing="0" cellpadding="0" border="0">
              <tbody><tr>
			  <td class="middle_top"><table width="100%" cellspacing="0" cellpadding="0" border="0">
                  <tbody><tr>
                    <td colspan="2"><span class="bodytext_1"><a class="bodylink" href="index.php?cid=3">Home</a> &gt;  <a class="bodylink" href="index.php?cid=8&amp;action=SML&amp;left=1">Servers Manager</a> &gt; Network Management - Nameserver </span></td>
                    </tr>
                  <tr>
                    <td width="6%"><img align="bottom" width="30" height="32" border="0" title="Resolver" src="../asset/images/icon_nameserver_big.png"></td>
                    <td width="94%" valign="top" style="padding-top:2px"><span class="txt_big_red">Resolver</span></td>
                  </tr>
                </tbody></table></td>
              </tr>
              <tr>
                <td style="padding:10px;">
				
				<table width="100%" cellspacing="0" cellpadding="0" border="0">
				  <tbody><tr>
                    <td class="btm_border"><table width="100%" cellspacing="0" cellpadding="0" border="0">
                      <tbody><tr>
                        <td><table width="100%" cellspacing="0" cellpadding="0" border="0">
                          <tbody><tr>
                            <td width="7%"><span class="bodytext">Actions</span></td>
                            <td width="93%" class="line_bg">&nbsp;</td>
                          </tr>
                        </tbody></table></td>
                      </tr>
                      <tr>
                        <td><table width="29%" cellspacing="0" cellpadding="0" border="0">
  <tbody><tr> <td align="center" width="30%">
	<table width="93%" cellspacing="1" cellpadding="1" border="0">
      <tbody><tr>
        <td align="center" height="30"><a href="index.php?cid=8&amp;action=SNA&amp;left=1">
          <img align="absmiddle" width="30" height="32" border="0" title="Add Resolver" src="../asset/images/icon_add_nameserver_big.png">
        </a></td>
      </tr>
      <tr>
        <td align="center" height="20"><a class="sm_heading" href="index.php?cid=8&amp;action=SNA&amp;left=1">Add</a></td>
      </tr>
    </tbody></table></td>
	 <td align="center" width="32%"><table width="93%" cellspacing="1" cellpadding="1" border="0">
       <tbody><tr>
         <td align="center" height="30"><a href="#">
           <input align="absmiddle" width="26" type="image" height="29" border="0" onclick="if(chkdel(document.frmns,'DELETE','Selected Resolver')!=false){ document.frmns.action ='index.php?cid=8&amp;action=SND&amp;left=1'; document.frmns.submit();}" name="serverdel" title="Delete Resolver" src="../asset/images/icon_delete_big.gif">
         </a></td>
       </tr>
       <tr>
         <td align="center" height="20"><a onclick="if(chkdel(document.frmns,'DELETE','Selected Resolver')!=false){ document.frmns.action ='index.php?cid=8&amp;action=SND&amp;left=1'; document.frmns.submit();}" class="sm_heading" href="#">Delete </a></td>
       </tr>
     </tbody></table></td>
     <td align="center" width="38%"><table width="88%" cellspacing="1" cellpadding="1" border="0">
       <tbody><tr>
         <td align="center" height="30"><a href="index.php?cid=8&amp;action=SNS&amp;left=1"> </a><a href="index.php?cid=8&amp;action=SNS&amp;left=1"><img align="absmiddle" width="27" height="24" border="0" title="Refresh" src="../asset/images/icon_refresh.gif"></a></td>
       </tr>
       <tr>
         <td align="center" height="20"><a class="sm_heading" href="index.php?cid=8&amp;action=SNS&amp;left=1">Refresh</a></td>
       </tr>
     </tbody></table></td>
  </tr>
</tbody></table>                   
                        </td>
                      </tr>
                    </tbody></table></td>
                  </tr>
					<tr>
					  <td>&nbsp;</td>
					</tr>
					
                  <tr>
                    <td><table width="100%" cellspacing="0" cellpadding="0" border="0">
                      <tbody><tr>
                        <td class="tdgap"><table align="left" width="70%" cellspacing="0" cellpadding="0" border="0">
                          <tbody><tr>                            
                            <td width="60%">
							<form id="frmsearch" method="post" action="index.php?cid=8&amp;action=SNS&amp;cmbserver=0&amp;left=1" name="frmsearch">
							<table width="100%" cellspacing="1" cellpadding="1" border="0">
                              <tbody><tr>
                                <td width="10%" class="bodytext">Search By</td>
                                <td width="20%">
                                  <label>
                                    <select id="cmbsearch" class="txtdrop" name="cmbsearch">
									  <option value="">-Search by-</option>
									   <option value="ns_name">Nameserver</option>
                                    </select>
                                  </label>
                                </td>
                                <td width="18%">
                                  <label>
                                    <input type="text" value=" " id="txtsearch" class="txtfield" name="txtsearch">
                                  </label>
                                </td>
                                <td width="7%"><a href="#">
                                <input width="31" type="image" height="33" name="go" id="go" title="Search" src="../asset/images/icon_search.gif"></a></td><td width="4%" class="bodytext">Show</td>
								<td width="41%" class="bodytext">
								<select onchange="document.frmsearch.submit()" id="limit" class="limit" name="limit">
								<option value="5">5</option><option selected="" value="10">10</option><option value="20">20</option><option value="40">40</option><option value="80">80</option><option value="160">160</option><option value="320">320</option>
								</select>
								</td>
                              </tr>
                            </tbody></table></form></td>
                          </tr>
                        </tbody></table></td>
                      </tr>
					  <form action="index.php?cid=8&amp;action=SNS" method="post" name="frmns" id="frmns"></form>
					
                      <tr>
                        <td><table align="left" width="70%" cellspacing="1" cellpadding="0" border="0" class="bgcolor3">
                          <tbody><tr>
                            <td align="center" width="4%" valign="middle" class="cate_listing_head">
                                <input type="checkbox" onclick="javascript:selectall(checked, document.frmns, 'chkdel[]')" id="checkbox" name="checkbox">
                            </td>
                            <td width="37%" class="cate_listing_head"><a class="cate_listing_head" href="index.php?cid=8&amp;action=SNS&amp;orderby=ns_name&amp;left=1&amp;sort=ASC&amp;searchfield=&amp;searchval= &amp;limit=10&amp;page=">Nameserver </a>  </td>
							
                            <td width="29%" class="cate_listing_head">Status</td>
                            <td width="28%" class="cate_listing_head">Actions</td>
                          </tr>
						  
						  <tr style="display:table-row"><td align="center" bgcolor="#FFFFFF" class="no_record" colspan="4">Nameserver are not available</td></tr>
                        </tbody></table></td>
                      </tr>
                      <tr>
                        <td class="bodytext"><table width="70%" cellspacing="1" cellpadding="1" border="0">
                          <tbody><tr>
                            <td width="64%"><table align="left" width="117" cellspacing="0" cellpadding="0" border="0">
                              <tbody><tr align="left" valign="middle">
                                <td width="49"><img align="absmiddle" width="18" height="17" border="0" title="Edit" src="../asset/images/icon_edit.gif">&nbsp;Edit</td>
                                <td width="66"><img align="absmiddle" width="18" height="16" border="0" title="Delete" src="../asset/images/icon_delete.gif">&nbsp;Delete</td>
                              </tr>
                            </tbody></table></td>
                            <td align="right" width="36%"></td>
                          </tr>
                        </tbody></table></td>
                      </tr>
                    </tbody></table></td>
                  </tr>
                </tbody></table>
				
				</td>
              </tr>
            </tbody></table></td>
