<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi <%= @user.name %></h1>
    <h3>
      your password is <b><%= @user.password %></b>
    </h3>
  </body>
</html>
