<tr class="bgcolor4">                            
  <td align="left" class="bgcolor4">#<%= order_history.id %></td>                           
  <td height="26" class="bgcolor4">Purchase</td>                                          
  <td align="center" class="bgcolor4"><%= order_history.created_at %></td>
  <td align="center" class="bgcolor4">$<%= order_history.amount_credited %></td>							 
</tr>