<td valign="top" class="bgcolor2"><table width="100%" cellspacing="0" cellpadding="0" border="0">
              <tbody><tr>
			  <td class="middle_top"><table width="100%" cellspacing="0" cellpadding="0" border="0">
                  <tbody><tr>
                    <td colspan="2"><span class="bodytext_1"><a class="bodylink" href="index.php?cid=4&amp;action=UVP">Home</a> &gt; <a class="bodylink" href="index.php?cid=20&amp;action=BMG&amp;left=2">Billing Manager</a> &gt; Billing History  </span></td>
                </tr>
                  <tr>
                      <td width="4%"><img width="30" height="32" border="0" align="bottom" title="Billing History" src="../asset/images/icon_billing-history.png"></td>
                    <td width="96%" valign="top" style="padding-top:2px"><span class="txt_big_red">Billing History</span></td>
                  </tr>
                </tbody></table></td>
                
              </tr>
              <tr>
                <td style="padding:10px;">
				
				<table width="100%" cellspacing="0" cellpadding="0" border="0">
                  <tbody><tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td><table width="100%" cellspacing="0" cellpadding="0" border="0">
                      <tbody><tr>
                        <td class="tdgap"><table width="90%" cellspacing="0" cellpadding="0" border="0">
                          <tbody><tr class="cate_listing_head">
							    <td valign="middle">&nbsp; Billing History Search</td>
							    <td width="5%" valign="middle" align="center"><img align="bottom" onclick="javascript:ShowHideHR('S33');" src="../asset/images/search_show.png" id="imgS33"></td>
						  </tr>
                          <tr id="trS33">
                           
                            <td width="95%" align="left">
							<form id="frmsearch" method="post" action="index.php?cid=20&amp;action=BMH&amp;left=2" name="frmsearch">

							<table width="50%" cellspacing="0" cellpadding="0" border="0">					

                              <tbody><tr>                            

                                <td width="14%" class="bodytext">ID<br>                               
                                  <label>
								  <input type="hidden" value="BMH" name="name">
                                    <input type="text" size="4" value="" id="txtid" name="txtid">
                                  </label>
                                </td>

								<td width="21%" class="bodytext">Document Type<br>							

                                <select id="cmbtype" name="cmbtype">											
											<option value="All">All</option>
									   <option value="Renew">Renew</option><option value="Purchase">Purchase</option><option value="Upgrade">Upgrade</option><option value="Refund">Refund</option>
                                    </select>
                                </td>

								<td width="24%" class="bodytext">Status<br>						

                                <select id="cmbstatus" name="cmbstatus">											
											<option value="All">All</option>
									   <option value="0">Pending</option><option value="1">Paid</option><option value="2">Cancelled</option><option value="3">Failed</option><option value="4">Completed</option><option value="5">Open</option>
                                    </select>
                                </td>
                                <td width="7%"><a href="#">
                                <input width="31" type="image" height="33" name="go" id="go" title="Search" src="../asset/images/icon_search.gif"></a></td>						<td width="8%" valign="bottom" class="bodytext">Show</td>
								<td width="26%" valign="bottom" class="bodytext">
								<select onchange="document.frmsearch.submit()" id="limit" class="limit" name="limit">
								<option value="5">5</option><option value="10">10</option><option selected="" value="20">20</option><option value="40">40</option><option value="80">80</option><option value="160">160</option><option value="320">320</option>
								</select>
								</td>
                              </tr>
                            </tbody></table></form></td><td width="5%"></td>
                          </tr>
                        </tbody></table></td>
                      </tr>
					  <form action="index.php?cid=11&amp;action=UVD" method="post" name="frmvm" id="frmvm"></form>
					  <tr><td>
					  <table width="90%" cellspacing="1" cellpadding="0" border="0" align="left">
						<tbody><tr><td valign="middle" align="right" colspan="8"> &nbsp;<a href="downloadxls.php?key=BILLH&amp;search1=#SEARCHVALUE1#&amp;search2=#SEARCHVAL2#&amp;search3=#SEARCHVAL3#" class="det_link"><img title="Export to Excel" src="../asset/images/excel.jpg"></a></td></tr>
						</tbody></table>
					  </td></tr>
                      <tr>
                        <td><div align="center" id="chldpar2">
						
						<table width="90%" cellspacing="1" cellpadding="0" border="0" align="left" class="bgcolor3">
                          <tbody><tr>                           
                            <td width="4%" valign="middle" class="cate_listing"><a class="cate_listing" href="index.php?cid=20&amp;left=2&amp;action=BMH&amp;orderby=id&amp;sort=ASC&amp;searchval1=&amp;searchval2=&amp;searchval3=&amp;limit=20&amp;page=">ID</a>  </td>
                            <td width="15%" class="cate_listing"><a class="cate_listing" href="index.php?cid=20&amp;left=2&amp;action=BMH&amp;orderby=subscriptionname&amp;sort=ASC&amp;searchval1=&amp;searchval2=&amp;searchval3=&amp;limit=20&amp;page=">Subscription Name</a>  </td>
                            <td width="15%" class="cate_listing"><a class="cate_listing" href="index.php?cid=20&amp;left=2&amp;action=BMH&amp;orderby=type&amp;sort=ASC&amp;searchval1=&amp;searchval2=&amp;searchval3=&amp;limit=20&amp;page=">Document Type</a>  </td>
                            <td width="10%" class="cate_listing"><a class="cate_listing" href="index.php?cid=20&amp;left=2&amp;action=BMH&amp;orderby=status&amp;sort=ASC&amp;searchval1=&amp;searchval2=&amp;searchval3=&amp;limit=20&amp;page=">Status</a>  </td>
                         
                            <td width="14%" class="cate_listing"><a class="cate_listing" href="index.php?cid=20&amp;left=2&amp;action=BMH&amp;orderby=docdate&amp;sort=ASC&amp;searchval1=&amp;searchval2=&amp;searchval3=&amp;limit=20&amp;page=">Doc. Date</a>  </td>
							 <td width="14%" class="cate_listing"><a class="cate_listing" href="index.php?cid=20&amp;left=2&amp;action=BMH&amp;orderby=total&amp;sort=ASC&amp;searchval1=&amp;searchval2=&amp;searchval3=&amp;limit=20&amp;page=">Total</a>  </td> 
							 
 							  
                          </tr>
						  
                          <tr class="bgcolor4">                            
                            <td width="4%" height="26" align="left" class="bgcolor4"><a class="det_link" href="index.php?cid=20&amp;action=BMD&amp;left=2&amp;id=5">5</a></td>                            <td height="26" class="bgcolor4">5Plan G</td>
                            <td height="26" class="bgcolor4"><a class="det_link" href="index.php?cid=20&amp;action=BMD&amp;left=2&amp;id=5">Purchase</a></td>
                            <td height="26" align="left" class="bgcolor4"><img title="Stopped" src="../asset/images/icon_inprocess.png"> <span class="Booting">Pending</span></td>                          
                            <td height="26" align="center" class="bgcolor4">31-Oct-2011</td>
							 <td height="26" align="center" class="bgcolor4">2.00</td>
							 
                          </tr>
  						  
						  <tr style="display:none"><td height="50" bgcolor="#FFFFFF" align="center" class="no_record" colspan="8"> </td>
						  </tr>
                        </tbody></table>
                        </div></td>
                      </tr>
                      <tr>
                        <td class="bodytext"><table width="90%" cellspacing="1" cellpadding="1" border="0">
                          <tbody><tr>
                            <td width="10%"><table width="227" cellspacing="0" cellpadding="0" border="0" align="left">
                                <tbody><tr valign="middle" align="left">
                                  <td width="74">&nbsp;</td>
                                  <td width="233"></td>
                                </tr>
                            </tbody></table></td>
                            <td width="70%" align="right"></td>
                          </tr>
                        </tbody></table></td>
                      </tr>
                    </tbody></table></td>
                  </tr>
                </tbody></table>
				
				</td>
              </tr>
            </tbody></table></td>
