<td valign="top" class="bgcolor2"><table width="100%" cellspacing="0" cellpadding="0" border="0">
     <tbody><tr>
                <td class="middle_top"><table width="100%" cellspacing="0" cellpadding="0" border="0">
                  <tbody><tr>
                    <td colspan="2"><span class="bodytext_1"><a class="bodylink" href="index.php?cid=4&amp;action=UVP">Home</a> &gt;<a class="bodylink" href="index.php?cid=36&amp;action=RDF&amp;left=#LEFT#">Download</a>&gt; Download File </span></td>
                  </tr>
                  <tr>
                    <td width="44"><img width="30" height="32" border="0" align="bottom" title="Download Installation File" src="../asset/images/download.jpg"></td>
                    <td width="1265" valign="top" style="padding-top:2px"><span class="txt_big_red">Download Installation File</span></td>
                  </tr>
                </tbody></table></td>
              </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>



    <tr>
                <td class="bgcolor1"><table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" class="bgcolor4">
                          <tbody><tr>
                            <td class="tdgap1">
<form method="post" name="form1" action="index.php?cid=36&amp;action=#ACTION#&amp;left=#LEFT#">
<input type="hidden" value="download" name="method">

<div style="display:none">
<table width="80%" cellspacing="0" cellpadding="0" border="0">

<tbody><tr>
  <td width="33%" align="left">Select your Operating System</td>
   
  <td width="67%" align="left" class="mandotry" colspan="2">
<select onchange="javascript:document.form1.submit();" id="os_name" class="txtdrop" name="os_name">
	#SELECTOS#   
</select></td>
</tr>
</tbody></table>
</div>

<div style="display:block">
<table width="80%" cellspacing="0" cellpadding="0" border="0">

<tbody><tr>
  <td align="left" class="bodytext_1">Please <a href="index.php?cid=36&amp;action=RGF&amp;left=1">click here</a> to download Installation File. For further assistance please contact site administrator.</td>
  </tr>
</tbody></table>
</div>
</form></td>
          </tr>
        </tbody></table></td>
      </tr>
    </tbody></table></td>
