<td valign="top" class="bgcolor2"><table width="100%" cellspacing="0" cellpadding="0" border="0">
     <tbody><tr>
                <td class="middle_top"><table width="100%" cellspacing="0" cellpadding="0" border="0">
                  <tbody><tr>
                    <td colspan="2"><span class="bodytext_1"><a class="bodylink" href="index.php?cid=4&amp;action=UVP">Home</a> &gt;<a class="bodylink" href="index.php?cid=36&amp;action=RUP&amp;left=1">   License Manager</a>&gt; License Code</span></td>
                  </tr>
                  <tr>
                    <td width="44"><img width="30" height="32" border="0" align="bottom" title="License Code" src="../asset/images/icon_license_b.png"></td>
                    <td width="1265" valign="top" style="padding-top:2px"><span class="txt_big_red">License Code</span></td>
                  </tr>
                </tbody></table></td>
              </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>



    <tr>
                <td class="tdgap1"><table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                          <tbody><tr>
                            <td class="tdgap1">

                                <table width="80%" cellspacing="0" cellpadding="0" border="0">
<tbody><tr><td align="left" colspan="2" class="mandotry">Please copy the code below in config.php file of vps server.<br>
Replace this code value for LICENSE_KEY variable.<br></td>
</tr>
<tr><td align="left" colspan="2" class="mandotry">&nbsp;</td>
</tr>
<tr>
<td colspan="2" class="bgcolor1">
        


License is not generated for your account. Please contact site administrator.
<table width="100%" cellspacing="1" cellpadding="4" border="0" class="bgcolor3"></table></td></tr>


<tr>
<td valign="top">&nbsp;</td>
</tr>


                                </tbody></table>

                            </td>
                          </tr>
                      </tbody></table></td>
              </tr>
</tbody></table></td>
