<script type="text/javascript" src="/javascripts/validate.js"></script>
<% form_tag(session_path ,{:id=>"frmlogin",:onSubmit => "return validateForms('frmlogin')"}) do %>  

<%#*<form name="frmlogin" action="http://localhost/cpvmcomplete/reseller/index.php?cid=2" method="post" onSubmit="return validateForms('frmlogin');" id="frmlogin">%>
  <table width="341" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td><img src="/images/login_top.gif" title="Login" width="341" height="14" /></td>
    </tr>
    <tr>
      <td class="login_bg">
        <table width="100%" border="0" cellspacing="2" cellpadding="2">
          <tr>
            <td colspan="2" width="100%" align="center"><span class="bolderror"></span></td>
          </tr>
          <tr>

            <td width="35%" align="right" valign="top" class="bodytextB">LOGIN NAME :</td>
            <td width="65%">
              <label>
                <%#= text_field_tag :email,:id=>'txtuser_1',:class=>'txtfield1' %>
                <%= text_field_tag :username ,nil, :id=>"txtuser_1" %>
                <br /><span id="txtuser" class="error"></span></label>         </td>
          </tr>
          <tr>
            <td align="right" valign="top" class="bodytextB">PASSWORD :</td>
            <td>
              <label>
                <%#*<input name="txtpwd_1" type="password" class="txtfield1" id="txtpwd_1" />%>
                <%= password_field_tag :password ,nil, :id=>"txtpwd_1"%>
                <br /><span id="txtpwd" class="error"></span>	
              </label>
            </td>
          </tr>
          <tr>
            <td align="right" valign="top" class="bodytextB">&nbsp;</td>
            <td>
              <%= link_to("Forgot Your Password",reseller_forgot_password_path,:class=>'bodylink') %>
            </td>
          </tr>
          <tr>
            <td width="35%" align="right">&nbsp;</td>
            <td width="65%">
              <input name="btnlogin" type="submit" class="button_log" id="btnlogin" value="Login" />
              <br>
              <!--
              <span class="textgrey">
                <a href="#" class="textgrey">Forgot Password                
                </a>
              </span>
              -->
            </td>
            
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td><img src="/images/login_btm.gif" title="Login" width="341" height="14" /></td>
    </tr>
  </table>
<% end %>
