<td valign="top" class="bgcolor2"><script language="javascript" type="text/javascript">
  function ShowDiv(id1, id2)
  {
 
    window.document.getElementById(id1).style.display = "block";
    window.document.getElementById(id2).style.display = "none";
    window.document.getElementById('divGSedit').style.display = "none";
 
	
  }
  </script>
  <div id="content">
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
      <tbody>
        <tr>
          <td class="middle_top">
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
              <tbody>
                <tr>
                  <td colspan="2">
                    <span class="bodytext_1">
                      <a class="bodylink" href="index.php?cid=4&amp;action=UVP">Home</a> 
                      &gt; <a class="bodylink" href="index.php?cid=4&amp;action=UVP&amp;left=0">My Account</a> 
                      &gt; Plan Summary  
                    </span>
                  </td>
                </tr>
                <tr>
                  <td width="4%">
                    <img width="30" height="32" border="0" align="bottom" title="Plan Summary" src="../asset/images/icon_hosting_plan.png">
                  </td>
                  <td width="96%" valign="top" style="padding-top:2px">
                    <span class="txt_big_red">Plan Summary</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <!--<div id="gallery">
                                    <a class="ondiv"  href='index.php?cid=20&action=SSM&left=2&id=0'><span><div class="ondiv" title="Summary"><span onclick="ShowDiv('divGS','divChangedate')">Summary</span></div></span></a>
                                     
    </div>-->
    <div class="show" style="height: 100%;" id="Summary">
      <div id="divGS">
        <table width="60%" cellspacing="1" cellpadding="0" border="0">
          <tbody>
            <tr>
              <td width="27%" align="left" class="txt_small_red" colspan="2">
                You have not purchase any plan. 
                <%= link_to "Click here",reseller_licence_upgrade_path %> 
                to purchase.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <table width="60%" cellspacing="1" cellpadding="0" border="0">
        <tbody>
          <tr>
            <td width="27%" align="left">&nbsp;</td>
          </tr>
          <tr>
            <td width="27%" height="40" align="left" class="bodytext_1">&nbsp;</td>
          </tr>
        </tbody>
      </table>										  
      <div>        
      </div>
      <div style="display: none;" id="divGSedit">
      </div>
      <div style="display: none;" id="divChangeAcc">
      </div>

      <div style="display: none;" id="divChangedate">
      </div>
      <br>
    </div>
  </div>
</td>
